---
title: Tango & revolution
chapter: ch1
slug: 6big_trouble
date: 2001-12-21
---
#linkBox{:align => "center"}
  %a{:href => "5trouble.htm", :target => "_top"}> &lt;  Back
   
  %font{:color => "#000000"}
    | 
    %a{:href => "1tc_title.htm", :target => "_top"} Chapter Index
     
    %font{:color => "#000000"} | 
  = succeed "\u{a0}" do
    %a{:href => "../index.htm", :target => "_top"} Home Page
  %font{:color => "#000000"} | 
  %a{:href => "7last_tango.htm", :target => "_top"} Next  &gt;
#header.tcHead
  .header{:align => "left"}
    %span.headerChapter Chapter 1 |
    %span.style7
      %span.headerTitle Reports from 2001
#Content
  %p.paragraphHeader{:align => "left"}
    So You Think You Want a Revolution...
  :markdown
    *Thu Dec 20, 2001 6:15pm:*
    I’m ashamed of what I did this afternoon.
    I’ve heard that when the Mexican Revolution began, a bunch of
    people in El Paso impulsively ran across the border and joined in.
    Several people have emailed and given support and good wishes,
    which is very kind, but I’m afraid it’s wasted on someone who
    puts himself at risk for no reason… which is exactly what I
    did this afternoon.
    Whether it was boredom, bravado, or just because it was too noisy
    and hot to take a nap in this old apartment, I went against
    everyone’s advice, and decided to walk around BA and find out
    what was happening.
    I was going to take the subway, pop up, and then escape back
    home if it was too dangerous.
    But, the *subte* was barricaded, so I ended up walking from
    *Independencia* up *Entre Rios*,  *Congreso*,  *Obelisco*,
    *Diagonal Saenz Pena* to within one block of *Plaza de Mayo*.
    *Av. de Mayo*, *Nueve de Julio* thinking I was getting out
    of it, and it got worse.
    It is the stupidest thing I have ever done in my life.
    I thought for several hours before deciding to write this,
    but I did what I did... so here it is.
    I'll write about it in the present tense because it’s easier:

    Everything seems normal on the street as I approach the
    Congress building at *Hipolito Yrigoyen* & *Combate de los Pozos*,
    *%Congreso

  %div{:align => "center"}
    %img{:alt => "Riot police on Diagonal Roca Saenz Pena, Buenos Aires", :height => "273", :src => "tc_pics/image009.jpg", :width => "450"}/

  :markdown
    The teargas is strong here and I realize why I thought people
    were crying.
    I turn right, which is upwind, to get away from the gas, and I
    head east along the south side of *Plaza Congreso*.
    *Rivadavia* which borders  the north side of the plaza,
    about 100 feet from me.
    Then, about five motorcycles, with two policemen in riot gear on
    each rush along *Rivadavia* past me chasing the people.
    The people scatter, and I think the cops riding shotgun on the
    back may be firing teargas or rubber bullets, but my head is
    down and I can’t see.
    I start to  run south to get away, but I quickly change my mind
    when they stop chasing the people, and turn right, to pass behind me.
    I am now in the position of having a large army of riot police
    in front of me, and the motorcycle police behind me.
    I feel very cut off and exposed, but if I continue to run south,
    I’ll be running parallel to motorcycles, and then into them if
    they turn back to the Congress, (which is exactly what they do).
    So I casually return to my bench, and try to be invisible.

    A few minutes later there are two very loud explosions at the
    southeast corner of the building, where I had just passed about
    15 minutes before.
    All of the thousands of pigeons in the park take off together
    in a huge flock.
    There is some smoke from the explosions, so I decide it’s time
    to leave.
    I move north on *Montevideo* (the street signs are torn down, but
    I looked it up on the map after), and I pass a very large guy
    standing in the middle of the intersection.
    There is debris everywhere, and for some reason he is holding
    the wheel of a car.
    He glares at me furiously, like he wants to heave it at me.
    Then things settle a little as I approach *Corrientes*.
    *subte* is down, but there are some buses that are packed,
    and some private cars stalled in traffic.
    I see people going down into the subway entrances and pleading
    with the people behind the metal doors to let them in.
    I have to be careful because the always-dangerous BA traffic is
    even worse because everyone is  so worked up.

    I walk east on *Corrientes* to the *Obelisco* at the center of town.
    There are now more demonstrators than office workers trying escape.
    I cross *Nueve de Julio* and look down *Diagonal Saenz Pena*.
    *Casa Rosada*. *Suipacha* by *Confiteria Ideal*
    has so much smoke and gas that I can hardly breathe, but
    I continue on anyway.
    I'm heading towards the *Plaza de Mayo*, *Casa Rosada*,
    *Banco Rio* bank at *Esmeralda*, *Plaza de Mayo*.

    Then it gets even worse.
    A guy appears out of the smoke with a bowling ball sized
    chunk of concrete.
    He runs towards some glass windows in front of me, and
    smashes it against the strong glass.
    Incredibly, it bounces off -- and I run into the street to avoid it.
    The smoke is terrible, and I hold my T-shirt up over my face.
    I’ve had enough, I’m less than a block from Plaza de Mayo, but
    I can go no further.
    The smoke is thick, and the only people are crazed looking guys
    with tattoos, either standing in groups, or smashing at the
    front of the buildings, their faces wrapped.
    Chunks of concrete are bouncing off the upper floors of the
    buildings as they aim for unprotected windows up high.
    I’m afraid I’m going to get hit as they ricochet around the street.
    The whole time I feel absolutely no fear from these people.
    I feel close to them, and they seem like brothers in a strange way.
    They are very angry, but not at me.
    There is a helicopter circling overhead (which is unusual, because
    you normally don't see them in BA).
    I turn south, wanting to get away.
    This moves me toward *Ave. de Mayo* again, but it is a mistake
    because I see more rocks flying there (I think I was on *Maipu*).

    Now I'm in a place that is virtually deserted, and it feels very
    claustrophobic.
    There's no place to run, and it is still very difficult to breath.
    I start to panic a little, and on one narrow street a frightened
    woman runs past me (I think she has just escaped from one of the
    besieged buildings), and then a larger group runs by, looking
    back over their shoulders.
    A man runs into me, says "*disculpe*", and says something about
    "*rompian todo*" (“they break everything”).
    I look back.
    I can’t see anything, but suddenly I begin to run, turning corners,
    and becoming disoriented.
    Finally, I see *Avenida 9 de Julio* to the west and jog toward
    it because it’s open space, and it’s away from the
    *Casa Rosada*, *Rivadavia*, *Obelisco*.
    *Nueve de Julio* is the widest avenue in the world, and I don’t
    want to cross that wide-open space alone --
    but suddenly I really want to get home, and there's no way I can
    go back into those narrow smoke filled streets to the east.

    So I take a deep breath, and walk quickly across to the other side. 
    I don’t like being out in the open exposed, and it seems to
    take forever, but I make it.
    Then, just as I arrive at what I feel is the safety of the crowd
    on the other side, there is a popping, hissing sound.
    The police must be very close, because a smoking missile goes
    up from a side street, and arcs overhead.
    Everyone tries to run north along the west side of
    *9 de Julio* (*Lima Cerrito*), but people are tripping and falling.
    The thing lands very close and explodes, and we are in gas.
    There is burning deep into my lungs, and I can’t see.
    My face feels like it’s on fire, like a very bad sunburn.
    There is water squirting from a broken pipe on the grass of
    the wide avenue, and a those of us hit by the missile run to
    it and fall on our knees, taking turns splashing water into
    our eyes and faces.
    I am scrambling around with about ten or fifteen people.
    Our skin is on fire, and we are on our hands and knees,
    trying to get at the water. 
    I can see legs running past us.
    When I can I splash water all over my head and face, but the
    gas is still very strong.
    A bunch of us begin to run again, struggling to the north,
    hardly able to see.
    I think police are moving somewhere, because the crowd is
    moving, but I can’t see them.
    I finally turn west onto a side street, and it is more or less over.
    I’m not the only one who’s had enough, because a lot of the
    people with me are young shirtless people, coughing and crying
    from the gas, and moving away to what appears to be a safer
    area -- the streets to the west, away from *Av. Julio* and
    *Casa Rosada*. *Congreso* area a wide berth. 
    I look down the toward the Congress building as I cross
    *Av. Mayo*,

  %div
    %div{:align => "center"}
      %img{:alt => "Congreso", :height => "307", :src => "tc_pics/image010.jpg", :width => "550"}/

  :markdown
    I guess part of the reason I went out is to report what I saw,
    but now I feel very foolish about it.
    I’ve always made fun of Geraldo Rivera, but at least he gets
    paid to do what he does.
    When I got home, Renee was leaving for the airport.
    Malena was going to take her, but we decided to hire a car
    because it was too dangerous.
    Ricardo Vidort came by to check on us.
    He told me he was unable to get home in the taxi last night,
    and had to stay at a friend’s house.
    He said he would accompany her to the airport to protect her.
    After she left, Malena fell apart and couldn't stop crying.
    She hasn't been sleeping well for several weeks because of all
    this, and Renee was like her sister.
    She talks tough, but now that she feels her country falling
    apart it’s too much.
    I walked down the block to pick up the laundry, and told the
    man where I had been.
    He says, "You have seen a revolution."

    How do I feel?
    Stupid for what I did, but very glad to be safe at home.
    I love Buenos Aires and the people down here.
    I feel very, very close to all of them.
    There has not been one mean thing said or done to me since
    I got here.
    They have only accepted us, and taken care of us.
    An Argentine read some of these reports and emailed to say they
    were ashamed about what I am seeing down here.
    My answer is that these are terrible problems you're dealing with.
    I can’t begin to understand them, but you have nothing to be
    ashamed of.
    I have been told that quite a few people died today.
    I don’t know if it’s true, but my heart is with Argentina.
    I don’t think there will be any more tango on this trip.
  s  
#linkBox{:align => "center"}
  %a{:href => "5trouble.htm", :target => "_top"}> &lt;  Back
   
  %font{:color => "#000000"}
    | 
    %a{:href => "1tc_title.htm", :target => "_top"} Chapter Index
     
    %font{:color => "#000000"} | 
  = succeed "\u{a0}" do
    %a{:href => "../index.htm", :target => "_top"} Home Page
  %font{:color => "#000000"} | 
  %a{:href => "7last_tango.htm", :target => "_top"} Next  &gt;
#footer.tcHead
  %div{:align => "left"}
    %span.chapter
      %font{:color => "#333333"} Chapter 1 |
    %font.footerPage{:color => "#080808", :face => "Georgia, Times New Roman, Times, serif", :size => "-1"} Page 6
