---
title: Sunderland
chapter: ch1
slug: 3sunderland
date: 2001-12-19
---
#linkBox{:align => "center"}
  %a{:href => "2awalk.htm", :target => "_top"}> &lt;  Back
   
  %font{:color => "#000000"}
    | 
    %a{:href => "1tc_title.htm", :target => "_top"} Chapter Index
     
    %font{:color => "#000000"} | 
  = succeed "\u{a0}" do
    %a{:href => "../index.htm", :target => "_top"} Home Page
  %font{:color => "#000000"} | 
  %a{:href => "4hcut.htm", :target => "_top"} Next  &gt;


#header.tcHead
  .header{:align => "left"}
    %span.headerChapter Chapter 1 |
    %span.style7
      %span.headerTitle Reports from 2001
.picholder
  %img{:alt => "Pepito Avellaneda", :src => "tc_pics/image001.jpg"}/

#Content
  %h3.paragraphHeader{:align => "center"}  
  %h3.paragraphHeader{:align => "right"} Sunderland
  %h3.paragraphHeader{:align => "right"}
    %font{:color => "#000000", :size => "-1"}
      "Those ‘potranca’ girls, they got you crazy!"
      %br/
    %font{:color => "#000000", :size => "-1"} -Malena


  :markdown
    Wed Dec 19, 2001 2:40 am  (
    *"Potranca"*
    is castellano for a female racehorse.)
    Last night we went to Sunderland.
    First I had a class with Osvaldo Natucci at *El Beso*,
    *Porteña* was a professional folk dancer,
    and she teaches
    *Chacarera*
    (an Argentine folk dance) but she doesn’t know tango well.
    She has given me a *Chacarera* lesson, and I like it a lot.
    It’s very passionate and athletic, but it’s not something I
    can use much back in Tucson.
    Renee, the other girl, is a cute young surfer / tango instructor
    from San Diego.
    Her blonde California looks have the Argentine men falling all
    over themselves and calling the apartment all the time.

    The lesson with Natucci went very well.
    I have told about my problems, and lack of confidence at times.
    My tango problems aren’t just psychological.
    They come from some basic technical problems in my dancing that
    make me feel self-conscious when I am on the floor with
    these excellent dancers.
    I’ve worked very hard down here, practicing the walk on my own
    every day, and taken classes, as well as dancing a lot socially
    on the crowded floors.
    I’ve been in sports most of my life, and I know how much work
    it can be to learn new ways of moving.
    Trying to make major fundamental changes has really thrown me
    off balance.
    I thought for a time that my bad habits were so ingrained that
    I couldn’t lose them…
    and that may still be the case.
    With that in mind, I’ll risk bragging a little more to tell
    how it has started to come together.

    The cat-stork-elephant-eagle thing seems to work, and I have
    begun to feel more comfortable in the walk.
    In addition, through sheer will power, I guess, I have been
    forcing myself to maintain proper posture.
    The result was that it finally all came together, at least
    for a couple of hours, in the class.
    At the start, Natucci put on Pugliese, and put me on the floor
    with the senior "potranca" sister, who is his dancing and
    instructing partner.
    I’ve told how easy she is to dance with.
    The system is that Natucci watches us dance, the two confer,
    and then corrections are made and instruction given.
    No new steps are ever demonstrated, or practiced --
    at least not yet for me.
    Often you are stopped after 10 seconds.
    We began to dance, and it felt right from the beginning.
    It’s the first time down here when it has really felt right.
    There were mirrors along the wall, and to me it also looked right.
    It felt so good that I had no self-consciousness about the people
    watching, and I was able to get into Pugliese, which I normally
    never attempt to dance to.
    If the posture and connection is right, you can feel your partner
    when Pugliese pulls the rug out from under you, move slowly,
    and give her time to embellish.
    When the walk is working, you can lead out with the chest when
    the elusive Pugliese beat returns.
    Everything falls into place.
    We did two dances with Natucci stalking around us watching like
    a referee at a prizefight.
    At the end, the beautiful sister gave me a big smile and exclaimed,
    *"Que porteño!"*
    To me it was a great compliment, and I thanked her and hugged her.
    There was rapid-fire question and answer with Natucci, and she kept
    shaking her head,
    *"No, no, bien, bien. Aprende bien."*
    One of the other women in the club I dance with came up smiling and
    hugged me.
    I must have passed a test, because later the younger
    *"potranca"*
    came up to me and said, "He want to see all you steps".
    *"Todos los pasos?" "Si. Todos. Todo coreografia"*.

    We squeezed into Malena’s car for the trip out to Sunderland.
    Riding with her is always exciting, with lots of near misses and
    screaming and yelling and gesturing between the drivers.
    It seems to be the normal way the locals get around.
    One night she was sick and I had to drive her across town to the
    hospital in her beat up old car (which is very difficult to drive),
    and it was frightening.
    I just moved carefully along the side of the road and tried to
    stay out of the way of the trucks and flying taxis and suicidal
    night clubbers who were weaving all over the place.
    I’m not kidding -- one night in a taxi coming home from
    *Catedral*  we hit 70mph on one of the city streets.
    And it didn’t seem that unusual.
    Malena says the soccer hooligans sometimes take milk in cartons
    and pour in cheap alcohol and bunches of speed pills, and
    drink this foul brew at the matches before beating each other senseless.
    She says that’s what the cab driver was probably on.

    We stopped on the way out to pick up Juan Carlos, who is an insider
    that hangs out with Carlos Cappello and Gavito at the milongas.
    His status is such that he was the announcer at the Zotto's
    big performance last week at *Niño Bien*.

    We finally found Sunderland , after wandering around the nice homes
    in the Belgrano district for a while.
    It’s an interesting building on a quiet suburban street with a
    nice café / bar in front, and a hall leading to an old time basketball
    court in the back.
    It’s actually quite famous, but basketball played on the slick tile
    floor must be very treacherous.
    And it’s a wonderful scene.
    It seemed very casual, not too crowded, with couples of all ages,
    but many of them old.
    There was a tremendous variety of tango, with everything
    imaginable being done.
    Tiny old couples tottering around dancing in ways I never new existed.
    One pair would dance with the man holding out his left hand with
    his thumb sticking up, and the tiny lady would hang on to his
    thumb as they bobbed around the floor.
    It looked like they had been dancing that way for sixty years.
    The announcer introduced Juan Carlos after we came in and sat down.
    He kept laughing and pointing out to me the cool things people
    were doing.
    It seemed relaxed, and I didn’t get the rush of tango adrenaline
    I usually get as climb the stairs into one of the crowded
    downtown milongas.
    We were sitting at the table while Juan Carlos ate and socialized,
    and Renee asked me to dance.
    I was surprised, because we’ve been hanging around together
    for 3 weeks, and we only danced one time at the beginning.
    She’s an excellent dancer, and I know her opinion of my dancing
    isn’t very high.
    We also have different styles.
    She’s small, and doesn’t lean in, but the floor wasn’t too
    crowded, and I was relaxed, so it was okay.
    She then danced with Juan Carlos, and afterwards she told me
    something interesting.
    She’s been dancing with him for weeks all over town, and
    she said it’s the first time he’s been nervous.
    He’s a professional milonguero, but he had stage fright!
    I began to look around, and I realized that I recognized many
    of the faces from the old Argentine tango documentaries I’ve seen.
    I had been admiring one of the younger dancers, and realized it
    was Gustavo Naveira.
    Juan Carlos began to point out who was present, and it dawned
    on me that my relaxed casual dances had taken place among some
    of the living legends of Argentine tango!
    And twice, I had bumped into people!
    I began to look at the dancers with a new eye, and suddenly the
    heart and soul of tango felt very near in this old gymnasium.

    The older couples were amazing.
    I looked at their faces and tried to imagine all of the things
    they had seen.
    The men were perfectly dressed in well fitting suits, and fresh haircuts.
    There was a table of old men next to us that I fell in love with.
    I wanted to join them.
    They kept laughing and singing along with the music, and giving
    each other a hard time.
    Couples would dance by and they would torment certain ones,
    tugging the men’s coats, and grabbing at the women.
    The ladies would pretend to slap them, and then end up kissing them.
    And then the men would kiss each other.
    (These Argentine men are always hugging and kissing one another.
    I actually kissed my barber the other day after the completion
    of a successful haircut... but that’s another story).
    Dancing couples would sometimes wave and speak to other dancers,
    and to people seated at tables.
    I know people that always put on scowling faces like they are
    going to war when they dance, and they get upset if anyone
    tries to talk to them or disturb them, claiming that’s the
    tradition in Buenos Aires.
    So much for that myth.
    It was a wonderful time, and there were performances by the old timers.
    Of course I forgot the video camera again.

    There was tango drama also.
    The main performance was to be by Gustavo Naveira, and he was
    stoked to perform for all of the legendary dancers.
    At the last minute, Javier &amp; Geraldine (the current hot young
    performers in BsAs) were asked to dance also.
    They accepted, and their youthful energy brought an enthusiastic
    applause that Naveira apparently took as an insult.
    I learned all this after from Juan Carlos, and he said it was a
    serious breech of tango etiquette for the couple to have accepted
    the invitation to perform on Naveira´s night.

    About 4am we decided to go back into town to *La Viruta* milonga.
    I was tired, and as I went in to check it out I asked a cab driver
    to wait for me, because I knew I would leave right away.
    He said something about Salon Canning, and I said no, no...
    and gave the apartment address, thinking he meant to take me
    over to Canning.
    It turns out he knew exactly where I wanted to go already,
    because what he meant was that he had picked me up the night
    before at Salon Canning.
    We went in and it was packed (not paying because of Juan Carlos),
    but I was tired and I left.
    With the taxi kidnap danger, it’s nice to know your driver.
    This was my second ride with him, and believe it or not another
    driver, who must work the tango scene, has picked me up three
    times, purely by coincidence!
    I remember his number - it’s Radio Taxi 449.
    If you get down here, give him a call.
    He makes me speak Castellano with him and we have discussed tango,
    the economy, Malik´s Patagonia adventure (don’t worry ladies,
    he made it back!), and an inexpensive little all night place
    Malena took me to, at the corner of *Combate de los Pozos*
    and *San Juan* where a lot of the drivers eat.

    That’s all for now.

#linkBox{:align => "center"}
  %a{:href => "2awalk.htm", :target => "_top"}> &lt;  Back
   
  %font{:color => "#000000"}
    | 
    %a{:href => "1tc_title.htm", :target => "_top"} Chapter Index
     
    %font{:color => "#000000"} | 
  = succeed "\u{a0}" do
    %a{:href => "../index.htm", :target => "_top"} Home Page
  %font{:color => "#000000"} | 
  %a{:href => "4hcut.htm", :target => "_top"} Next  &gt;
#footer.tcHead
  %div{:align => "left"}
    %span.chapter
      %font{:color => "#333333"} Chapter 1 |
    %font.footerPage{:color => "#080808", :face => "Georgia, Times New Roman, Times, serif", :size => "-1"} Page 3
