---
title: Walking to Chacarita
chapter: ch1
slug: 2awalk
date: 2001-12-17
---

#linkBox{:align => "center"}
  %span.style2
    %a{:href => "1tc_title.htm", :target => "_top"}> &lt;  Back
     
  %font{:color => "#000000"} | 
  %font{:color => "#000000"}
  %span.style2
    %font{:color => "#000000"}
      %a{:href => "1tc_title.htm", :target => "_top"} Chapter Index
  %font{:color => "#000000"}
     
    %font{:color => "#000000"} | 
  %font{:color => "#000000"}
    %font{:color => "#000000"}
  %span.style2
    %a{:href => "../index.htm", :target => "_top"}> Home Page
     
  %font{:color => "#000000"} |
  %font{:color => "#000000"}
  %span.style2
    %font{:color => "#000000"}  
    %a{:href => "3sunderland.htm", :target => "_top"} Next  &gt;
#header.tcHead
  .header{:align => "left"}
    %span.headerChapter Chapter 1 |
    %span.style7
      %span.headerTitle Reports from 2001



#Content
  %p.paragraphHeader
    I Take a Walk

  :markdown
    *Mon Dec 17, 2001 6:11:*
    I am almost out of cash.

    I’ve been unable to get anything from ATM machines or by getting
    cash advances on my credit card, so I’m staying close to home and
    trying to have a little financial discipline --
    just like the rest of the country.

    It’s a new situation for me, because I’m spoiled and I waste
    money at home.

    It gives me an idea of what it’s like for the locals.
    If I’m careful I should just be able struggle to the finish line
    and make it to the airport in ten days with one dollar in my pocket.
    I can fly away, but the Argentines can’t leave, and I am afraid
    they are in for some hard times.

    At least it gives me some time to write --
    and there is a lot to write about.

    Yesterday was a great day, but it didn't start with much promise.
    There was a general strike ("*paro*") in the city, and it was
    pouring rain.
    I don’t know how or why they go on strike here, but I’ve heard it’s
    a regular thing.
    The nice part is that this noisy city has a day of quiet time.
    What will or will not be open is anybody's guess.
    Luckily the "*subte*" (subway) was still running, so I went
    to Barrio Palermo to pick up a pair of shoes from Fattomano.
    I have never had a pair of fine quality custom shoes before,
    and they are worth every penny.
    They felt tight for about half an hour, and then molded to my
    feet perfectly.
    I wore them everywhere last night, with no discomfort at all, even
    walking a couple of miles home in them after the last milonga.
    I also bought a pair off the shelf at Flabella, and they are okay,
    but they cost the same ($90), and they aren't in the same league
    as the Fattomano shoes.
    The service at Flabella is so bad that I will never go there again,
    and everyone I know seems to have the same problem with them.
    (Flabella is the one downtown near *La Ideal*,

    The subway down here can be a great source of entertainment
    because there is a constant flow of characters getting on and off
    the trains.
    I like trains, and a subway is a type of train, so riding them
    is fun for me.
    There is often a Peruvian flute player, or some type of folk music
    guy playing on the cars, and there are little kids selling things.
    The saddest sight was a one legged - one-armed man bouncing
    up and down the moving cars like a pogo stick.
    The best so far was a tiny old man who played a harmonica and
    sang tango songs in a funny reedy sounding voice.
    He would play a little, sing a little, and do this goofy
    hopping version of tango up and down the aisle.
    It struck me funny, and I started to laugh.
    Pretty soon the whole car was laughing, and the guy cleaned up
    on tip money.

    When I traveled in Europe, I would take subways out to the
    suburbs, and then walk / jog back to the middle of town,
    and BA is the perfect place for this kind of sightseeing.
    After I got the shoes, the rain had diminished to a light mist,
    so I decided to walk down through the old Palermo neighborhood
    to Chacarita and catch the train at the end of the line at
    Federico Lacroze station.

    The city was very quiet because of the strike, and the fine
    mist gave the old tree lined cobblestone streets a dreamlike quality.
    It seems like I am always in a hurry, especially on this trip,
    but on this day there was absolutely no reason to hurry, and
    the walk washed away any feelings of urgency or tension.
    I wandered, heading generally southwest with my new shoes in
    my backpack, away from the Rio de la Plata, past the old home
    of the author Jorge Luis Borges, enjoying the smells and
    sights and the lilting sounds of the Porteño voices.
    I found some railroad tracks and walked along them for a while,
    but the trains were on strike and I didn't get to see one.
    There were people sleeping in the weeds along the tracks,
    and I thought it might not be safe, so I went back to the streets.
    I like ships as well as trains.
    There is a great place to sit in the ecological reserve near
    the Retiro station and watch the big container ships being
    nudged by the tugboats past the breakwater and into the
    chocolate colored river
    (I also saw a 3 ft. long lizard in the trail when I was there).
    Closer to Chacarita it got a little rougher and there was
    an abandoned car on the sidewalk.
    Cars in Argentina have to be in very bad shape to be abandoned.
    I saw some men cooking on an outdoor grill, and the smell
    was so overwhelming that I decided to splurge and spend a
    peso on a *choripan* -- a *"Buen provecho!"*
    So, instead of mugging me, they wished me good appetite.

  %p{:align => "center"}  
  .figureLeft
    %p
      %img.scaled{:alt => "Chacarita", :src => "tc_pics/image002.jpg"}/
    %p
      Chacarita Cemetery,
      %br/
      Buenos Aires
  :markdown
    Malik has been giving me this BS story that there is always a lit
    cigarette in the hand of the statue of Carlos Gardel at his tomb
    in Chacarita, so I decided to find out.
    The Chacarita cemetery is very large, with a big fortress-like
    wall around it.
    There is an old part, and a new part that seems to stretch for
    miles, with large underground structures to hold caskets.
    There must be millions of bodies there.
    I went in expecting to ask someone where Gardel was, but I was
    the only person in the whole place.
    Alive, anyway.
    The old section is like a miniature city with cobblestone streets
    lined with stone and marble houses.
    Some are quite elaborate, and they are of normal height, but
    very narrow because the occupants don’t need to move around.
    I wandered around in the rain, reading the names, and I found
    Gardel’s house in about ten minutes.
    Was there a lit cigarette? No, it was raining, but there was a
    wet cigarette there, and about a million flowers.
    They put a Dumpster next to his tomb, and it’s also full of
    rotting flowers.
    I walked over to the Lacroze station and caught the subway home,
    and I was so relaxed that I fell asleep and almost missed my stop.

    *Financial update:*
    I now have money! My friend Fred wired some down by Western Union.
    It’s so bad here that they often won't give you cash for money
    that is wired, just a useless, check, but I called an office
    near the apartment, and they said they had some cash, that
    they may close at any minute, but that they were currently open.
    I literally ran out of the apartment with my passport,
    rushed over, and scored $600!
    When I got back, my apartment mates who were sick of hearing
    me complain about money began to celebrate.
    Malena danced around the kitchen singing
    "Money makes zee world go round! Zee world go round!
    Zee world go round!"
    Paco, the Colombian student who speaks no English, began
    to chant, "Party! Party! Party!"

  %p.paragraphHeader
    Learning Tango
  :markdown
    *Mon Dec 17, 2001 10:49 am:*
    My dancing has fallen apart here in  BA because I’ve had to
    throw almost everything out and start over.
    It  seems like this is about the third or fourth time this
    has happened,  but it’s worse now because I’ve danced enough
    to get bad habits.

    Posture and walk are about all there is to tango, and when
    you have  flaws in both it’s a problem.
    All I hear down here is *"Mas pecho"*, *"Mas bajo, mas pesado"*,


    *El Beso*

    Osvaldo Natucci is small eccentric professor type with flying
    frizzy graying hair, and he is also a fine dancer. 
    He has two beautiful young partners who are sisters, and the
    three of them are quite a sight at the milongas.
    I had no idea who he was, but after I saw him dance I went
    right up and asked him for lessons.
    (I also did this with one young dancer whose style I liked,
    but I haven't made his lesson, yet).

    It turns out Natucci is already a well-known instructor,
    who is also a DJ, and considered to be an expert on tango music,
    as well as dancing.

    The classes with him are fantastic, because I get to dance
    with the sisters. It’s like driving Ferraris.
    They have a beautiful straight-legged style, and they look like
    racehorses when they dance, very fast, but with little movement
    other than subtle ankle embellishments.
    And, they manage all this while still dancing "heavy"!
    They are smooth, and very responsive, but the leader can also
    feel every step they take.
    They are also smart, and give excellent instruction.
    If your posture sags, or your step isn't right, they feel it
    right away.

    Because we dance in a close embrace, it’s not always easy,
    even for an expert like Natucci to see what's happening,
    so he always consults with one of them after the dance
    before he gives advice to a student.

    The older sister does something that I think is very advanced.
    She is able to take the lead and extend it, or make it go farther.
    She’s able to be light from the waist up, step hard into the
    floor, and also over-step in a way that helps the leader.

    Being the rich gringo capitalist, I came up with the idea that
    instead of taking a private lesson from them, I could pay her
    to go to the milongas with me, like getting to take a Ferrari
    out on the roads to race around for a day.
    Also, I would look pretty sharp.
    Unfortunately I was told that such a thing would be bad, since
    constantly dancing with one person would create the assumption
    of more than a dance relationship.
    Malena says I should call them *"potrancas"*.

    There is a young guy at El Beso who is very intense, and for
    some reason he wants to help me.
    He keeps taking me aside and making me walk with him.
    He speaks very rapidly, and there is no way I can get him
    to slow down, no matter what I say.

    He literally grabs me, and we walk across the floor, a very
    intense tango walk, around the bar, down the hall,
    and back again, with him speaking passionately the whole time.
    When I don’t get it he just yells louder and more rapidly.
    I understand almost nothing, but he’s athletic, and he
    walks well with a very strong style, so I keep smiling
    and nodding and trying to understand what he’s telling me.

    Last night he grabbed me again, and kept holding his hand
    in front of my face with his fingers spread.

    *"Cuatro animales! Cuatro, cuatro animales!"*

    He had obviously thought it over, and prepared a lesson
    plan to help me.

    *"Uno...Gato!"* he started the step, *"Dos! Garza!"*

    I finally figured out he meant stork, or crane...

    *"Todo pesado, un pie!”*

    *"Tres... ELEFANTE!!”

    *"Cuatro,* (raising and lifting his torso proudly like an eagle)
    *Aguila! Aguila!"*

    I’ve been practicing it, and it actually makes a lot of sense.
    Begin the step, smoothly forward like a stalking cat, then
    a minute pause in the middle, at the heel to heel position,
    stretched very tall with, one leg raised slightly like a crane,
    the weight quiet and totally on one foot, then falling forward
    off the back leg to finish, caressing into the floor softly,
    but pressing firmly down like an elephant.

    Flat and solid on the foot. This is the hard part, and I’ve
    worked on it constantly since I’ve been here.

    You're supposed to lengthen and stretch the leg as the foot
    meets the floor, and let the hip relax a little, in effect
    pressing into the floor when the foot lands.

    Something between a stomp and a caress, but the key is to
    land with a straight leg. 
    This causes a very light bump that your partner can feel
    through the chest.
    (Osvaldo Natucci has actually rolled up his pants leg to
    show me how his leg stretches and straightens when his foot lands).

    The chest and ribcage are up, up forward and light, like
    an eagle the entire time.
    If that young guy made this up himself I think he's really smart.
    He thought a lot about it and he's a great teacher.
    Natucci also drew me a picture of footprints, with a dark area
    showing me exactly where the pressure should be when the foot
    hits the floor.

    We can barely speak, but we are communicating well.
    These people know how to teach, and they put a lot into it.
    A lot of passion.
    The first lesson I had with him was a 2- hour group class with
    only Malik as the other student, and the beautiful *"potranca"*
    sisters. It cost us each $5.

#linkBox{:align => "center"}
  %a{:href => "1tc_title.htm", :target => "_top"}> &lt;  Back
   
  %font{:color => "#000000"}
    | 
    %a{:href => "1tc_title.htm", :target => "_top"} Chapter Index
     
    %font{:color => "#000000"} | 
  = succeed "\u{a0}" do
    %a{:href => "../index.htm", :target => "_top"} Home Page
  %font{:color => "#000000"} | 
  %a{:href => "3sunderland.htm", :target => "_top"} Next  &gt;
#footer.tcHead
  %div{:align => "left"}
    %span.chapter
      %font{:color => "#333333"} Chapter 1 |
    %font.footerPage{:color => "#080808", :face => "Georgia, Times New Roman, Times, serif", :size => "-1"} Page 2
