---
title: Last tango in Buenos Aires
chapter: ch1
slug: 7last_tango
date: 2001-12-22
---
#linkBox{:align => "center"}
  %a{:href => "6big_trouble.htm", :target => "_top"}> &lt;  Back
   
  %font{:color => "#000000"}
    | 
    %a{:href => "1tc_title.htm", :target => "_top"} Chapter Index
     
    %font{:color => "#000000"} | 
  = succeed "\u{a0}" do
    %a{:href => "../index.htm", :target => "_top"} Home Page
  %font{:color => "#000000"} | 
  %a{:href => "8sin_rumbo.htm", :target => "_top"} Next  &gt;

#header.tcHead
  .header{:align => "left"}
    %span.headerChapter Chapter 1 |
    %span.style7
      %span.headerTitle Reports from 2001
#Content
  /
    img.picholder{:alt => "Bailarines del tango", :height => "486", :src => "../image_files/banstg12.jpg", :width => "300"}/
  %p.paragraphHeader{:align => "center"} Next to Last Post

  :markdown
    # Next to Last Post

    *Fri Dec 21, 2001 12.44 pm*:
    I hadn't planned to write anything today, but after I took a
    walk I felt like it.
    I walked south, with no map and no plan, through typical BA
    neighborhoods.
    There were tree-lined streets with old buildings.
    I like the upstairs corner apartments.
    They are old with rounded corners, high ceilings and windows.
    I don't know if you call it colonial style.
    There are thousands and thousands of them all over the city,
    with high doors at the corner, and rounded balconies with flowers,
    looking out on the street.
    Many of them are at tree height, so the balconies seem to be among
    the leaves.
    I'd like to have one.
    I came to a large open space, several acres at least, which is
    unusual in BA.
    It seemed wild, and there was a large neighborhood vegetable
    garden where someone had made a strange looking Santa Claus
    (Papa Noel) out of red trash bags, and hung pretend presents on a bush.
    They were blowing in the southeast breeze that has come off the
    Atlantic and finally cooled down the city.
    There won't be much Christmas down here.
    Last night was the quietest I've seen.
    I sat outside on the corner beneath our apartment at a small
    *confiteria*.

    *Independencia*.

    I keep walking south, and see a very large building which looks
    pockmarked.
    It turns out to be a hospital, and I wonder if the holes were
    made by artillery fire.
    I've heard that doctors were the enemy in the "dirty war".
    It's probably not the case at all, but I'm too lazy to ask anyone.
    The edge has gone off the trip.
    I'm not a *Porteno*, *"No hablo castellano."*
    He nods and drives off, and as soon as he leaves I realize that
    I not only understood him completely, but I knew exactly where
    the street was he was asking about.

    I hadn't planned to write nearly as much, but the words just
    keep coming as I walk.
    I enjoy being alone.
    I think of our desperate group in the burning gas, and how each
    person spent only a few seconds at the water, and then immediately
    scrambled out of the way to make room for the next one.
    I remember the young policemen I saw facing their neighbors who
    were hurling rocks.
    They looked more confused than threatening, as if they couldn't
    figure out why the people they were talking to and laughing with
    in the neighborhood a week ago were now facing them across the
    plaza throwing stones.
    What were they supposed to do?
    What could they do about some economic crisis that no one understands?
    I'm  sure the last thing they wanted was to kill anyone.

    Before all this trouble began, I wrote a note about one of the
    milongueras who asked me out to dance.
    I'll paste it in here, and then tomorrow I'll have one last word
    about tango.
    After that, I don't plan to write anything more.

  %p.paragraphHeader The Milongueras
  :markdown
    # The Milongueros

    I have talked about some of the  older dancers who dance here in
    Buenos Aires that are know as "milongueros" --
    which is a term of respect in the milongas.
    They are not stupid, and they often use their status to  dance
    with the beautiful young tourists who come to BA, and also
    attractive young local women who may be new to tango.
    There is also a group of women here who dance  well, and are
    accepted by the milongueros, and dance with them on a regular basis.
    If I have found a niche for myself in the huge tango scene here,
    it is with these women.
    Some of them know me from the classes, and from going to some of
    the clubs where the old milongueros go.
    Tango is huge here, but it's also surprisingly small, and just
    like Tucson, everyone talks about everyone else.
    While I am a tourist and a rookie, I've learned that some of
    these women like to dance with me because they say I feel the
    music -- and they like that.
    This is good for me, and I've found lately that I don't have to
    hunt for dances as much.
    The biggest advantage for men who dance close embrace is that
    your partner is too close to you to see your dancing.
    You may look like crap, you may not know many steps, but if
    you feel the music, she will feel it also.
    She will like it, and she will tell her friends.
    One night at *El Beso*,

    Something more unusual happened when one of the best dancers
    somehow found out where I lived (I hadn't given out my phone number!),
    and called me and asked me out to dance!
    She would have never done that with a real milonguero, but my low
    status made it possible.
    It wasn't a real "date"... it was done only to dance.
    I accepted, and we went out early at 630pm.
    She took me to a small neighborhood milonga that I never would
    have found in a million years.
    It was empty when we arrived, but it began to fill rapidly.
    It was down a little hall behind a small gym, and when you danced,
    you could see people lifting weights through an open door in the front.
    There were drinks and good food.
    It was exactly the kind of place I've been looking for in BA --
    a small version of Sunderland with an indoor wooden floor, and
    an outdoor waxed tile floor.
    We moved outside to dance under the dark sky as it cooled off.
    It was very casual, and nice.
    I have begun to feel that the big high-powered milongas are not
    always for me.
    They can be fantastic and exciting, but they're very crowded,
    and the see-and-be-seen, hunt-for-eye-contact, trophy-dance
    atmosphere is too much on a regular basis.
    If I were a much better dancer, I'm sure I would feel differently,
    but I never felt completely relaxed at them.
    This little neighborhood place was beautiful, with very high
    quality dancing, and the DJ was a maestro.
    Every song inspired me.

    My date was one of the few of these milongueras who spoke English,
    and I was able to spend the evening dancing very comfortably with
    her, and discussing the dance styles, and personal styles, of
    all of my heroes.
    She dances with them all, and she was a regular partner of Tete's.
    This is where I learned some bad news.
    Tete has just been put in the hospital in Italy.
    I've heard he smokes too much, and probably does everything
    else too much also, and it's catching up with him.
    I found this very upsetting, since a big part of my reason for
    coming to BA was to see him while there's still time.

  %p.paragraphHeader Tete
  :markdown
    # Tete

    I haven't seen much of Malik lately, but yesterday afternoon we
    finally got to spend some time together.
    We practiced a few steps, and watched some videos, and discussed
    what we have learned here.
    Malik commented that suddenly all of the great dancers in the videos
    didn't look quite as impressive after 5 weeks in Buenos Aires.
    I felt the same, and then I thought of something.
    I got one of my Tete videos and put it on.
    Malik was stunned. He had always loved Tete.
    It was my giving him a Tete video when he first started that
    really hooked him on the tango of the milongueros.
    Now, he said, he began to see more of what I have been seeing.
    After 5 weeks in BA other dancers had diminished a bit in our
    eyes, but Tete looked even better.
    Malik named maybe the most famous tango performer in the world,
    who we had recently watched perform, and said that he was great,
    but that there were a lot of guys from his neighborhood in Philly
    with the potential skill to dance like that.
    But Tete is different.
    Malik said it was his balance and feel for the music.
    I hadn't watched him for several months, and like Malik, I was
    also stunned.
    I usually have one of two reactions when I watch him on video.
    I am in either a state of awe and enjoyment, or of frustration
    and disappointment because he is unreachable to me.
    I'm like some kid in the mountains of Morocco trying to learn
    basketball from Michael Jordan videos.
    It just won't happen.

  %p.paragraphHeader Last Tango in Buenos Aires
  :markdown
    # Last Tango in BsAs

    *Sat Dec 22, 2001 7:12 am:*
    It has been an amazing experience.
    The feeling of Buenos Aires will stay with me for a long time.
    The exotic street names... *Jujuy, Pichincha, Pueyrredon, Riobamba*.

  %div{:align => "center"}
    %img{:alt => "Rio de la Plata", :height => "185", :src => "tc_pics/image011.jpg", :width => "300"}/

  :markdown
    It’s taken some time to write these notes, but it’s been fun.
    I’ve been short of cash a lot of the time, so it’s cheap entertainment.
    And truly a labor of love.
    After rereading a few of them I’m embarrassed about the number of typos.
    My only excuse is that I’ve been sleepy when I’ve written a lot of this.
    Malik says I look a lot different than in Tucson, more tired and drawn.
    It’s just a vacation, but the intensity of life down here can be
    draining.
    We've all been losing weight.
    Everything I’ve written is true, although some of it may have been
    posted out of sequence.
    Everyone I have talked about is real, but I’ve changed a couple of
    the names to protect privacy.

    If anyone reading this is interested in the tango I’ve been trying
    to learn I’d be glad to refer you to people and places where you
    can learn about it.
    I’ve been working for almost two years, and I still can’t say I
    can walk across the floor competently.
    But I’ve seen what's happened in Portland when a lot of people
    embrace (pun) this style, and it would be nice if more people in
    Arizona would try it.
    I have learned a lot from talking to Ricardo Vidort about the
    early days of tango.
    If I had talked to him earlier in the trip some of the things I’ve s
    aid about tango down here would have been more complete and accurate.
    When I get time, I would like to write about a few of the interesting
    things I’ve learned from him.

    My good friend Malena is a beautiful, passionate Argentine woman.
    She is a small window into the *Porteño* soul, if there is such
    a thing, but I’m afraid she feels things too deeply.
    What's happening down here is  bad, and I worry about her.
    I feel sad about flying off and leaving her and the rest of her
    brothers and sisters to their fate.
    I came into town from the airport on a shuttle bus, knowing no one
    but Malik, and I will be taken to the airport by Malena and
    Ricardo Vidort, two new Argentine friends.
    That alone makes the trip worthwhile.
    I will also miss Alejandra Todaro, who has become my friend and
    dance partner over the last two weeks.
    She is one of the best tango dancers in BsAs, and I’m honored that
    she has chosen to dance with me.
    But I’m starting to miss the desert, and if Malena´s old car will
    make it out to *Ezeiza* Airport tonight, I will be back home
    tomorrow to deal with roof leaks from the summer monsoons, and
    to wonder how far Jason Gardner and Luke Walton can take the
    Cats this season.

    Tango is what I came here for, but what I have seen in the last
    few days has changed me in ways that I didn't expect.
    I’m still thinking about them, and I may write about them sometime,
    but not now.
    I haven’t checked to see if any milongas have reopened, and the
    urge to dance tango which has been so strong over the last couple
    of years isn't there at the moment.
    But I’m sure it will return, and I want to finish with tango,
    so here it is.
    Hope you like it!

  %p.paragraphHeader Tango
  :markdown
    # Tango

    For me, Buenos Aires is tango.
    It’s in the old architecture and in the muddy river that slides
    past the city.
    I see it in the young women who walk downtown, along the sidewalks
    straight and tall, shoulders back, with a natural tango walk.
    From *Plaza San Martin* with its trees covered in purple flowers,
    along *Santa Fe* to *Suipacha*, *Corrientes, Congreso*,
    *San Telmo*, *Caminito* in *La Boca*.
    *porteñas* don’t even know the tango, but they walk it every day
    because it’s in their blood.
    It is was created for them and it's in them.
    The lonely men who wrote and danced the first tangos were
    dreaming of them -- wanting them.
    One hundred years or more of tango in their blood.
    A billion dances.

    I take one last long walk through the old neighborhoods.
    Down through *Palermo* again.
    I stop at an herb shop to see about buying some
    *yerba mate* to take back.
    The clerk isn't especially friendly as I ask a lot of dumb questions.
    We stand at the counter, and then the sweet sound of tango music
    comes from his radio.
    Without thinking, I say to myself *"Es tango...”*
    His face softens, as if a small child has come into the shop.
    *"Si..."*,

  %p.paragraphHeader Epilogue
  :markdown
    # Epilogue

    If you’ve been following the news, you know that the problems
    in Argentina are continuing.
    I just received the following email from Malena today.
    *"Cacerolazo"* means casserole, and it refers to the pot
    banging demonstrations.
    Malena is from an upper class upbringing, and it’s interesting
    that she has been warned away from the tango world by Copes’
    old partner, Maria Nieves.
    Here is today’s email (including an insert from an earlier email):

    > 12/30: *Hola* Rick. I’m sorry my last e-mail en
    *Castellano*, *cacerolazo*) *Casatango* is quiet now.
    Only America [girl from LA] and me.
    The geisha left yesterday.
    She finally moved to the milonguero style.
    (Earlier email 12/25: The day after you left Casatango opened
    its doors to Alika, a young Geisha that’s why she ended up here.
    And guess where she’s staying?
    Of course, you guessed, she’s in your room.
    Are you sure you don’t have more extra mileage so you can come back?
    *Bueno*,

    > I realize the other night at *La Nacional* that Tango entails
    many things.
    I think that intelligence is important.
    You need intelligence to dance tango.
    It’s not just the steps, is doing the right steps in the right
    moment, is creativity, it’s good ear, it’s tempo and it’s
    musicality together with the steps, the listening, the attitude
    and the feeling.
    I know nothing of this is new to you.
    I know you know all this because you made me dance and I liked it.
    I enjoyed dancing with you.
    And this is not an easy thing.
    In your next trip I hope I already know some more things and I
    would really like to go out to a milonga with you sometime.
    If you come with Ann I will steal you from her to go dancing
    some milongas or tangos with you.
    Is it OK? OK.

    > I’ve been going to the river lately, I found some small clubs on
    the river where you don’t pay a cent and you can stay and swim
    in the River Plata.
    I also got an ear infection, which took me to hospital, Paco came
    with me and the doctor was there and he took good care.
    I’m ok now, but I can’t go swimming for 5 days.
    It’s terribly hot, today was 34 Celsius and humid.
    I talked to Susana the milonguera, my friend’s mother, Copes
    partner in the movie, they say the best milonguera Buenos Aires
    ever had [Maria Nieves!].
    I didn't know.
    But she’s told me a lot about milongueros, about Alito, one of
    the best, who is her best friend and is also a friend of Ricardo.
    She told me Ricardo is a good milonguero, but he is a little
    *"tarambana"* *Chacarera* student.
    But I’d really love to do a trip with them.
    Paco is my friend, and from what I saw today of Gisella she’s
    a sweet and nice girl.

    > *Bueno*, Rick next time I tell you about my impressions of your
    Buenos Aires tango report.
    I laughed a lot, but I also skipped the technical part and now
    I forgot a lot so I’ll read it again.

    > *Un beso enorme,*
    Malena


  %p.paragraphHeader
    %font{:color => "#333333"} ****

  :markdown
    This is the end of the Tango and Chaos reports from 2001.
    In 2002 Alejandra Todaro became my dance partner, and returned with
    me to the U.S.
    The next section jumps forward to 2003 when Alej and I were forced
    go back  to BsAs on short notice because of visa problems.
    If you  want to read more about Buenos Aires, including visits to
    some out of the way clubs, and some very
    *macho* transvestite prostitutes, click ahead to the  2003 reports.
   
#linkBox{:align => "center"}
  %a{:href => "6big_trouble.htm", :target => "_top"}> &lt;  Back
   
  %font{:color => "#000000"}
    | 
    %a{:href => "1tc_title.htm", :target => "_top"} Chapter Index
     
    %font{:color => "#000000"} | 
  = succeed "\u{a0}" do
    %a{:href => "../index.htm", :target => "_top"} Home Page
  %font{:color => "#000000"} | 
  %a{:href => "8sin_rumbo.htm", :target => "_top"} Next  &gt;
#footer.tcHead
  %div{:align => "left"}
    %span.chapter
      %font{:color => "#333333"} Chapter 1 |
    %font.footerPage{:color => "#080808", :face => "Georgia, Times New Roman, Times, serif", :size => "-1"} Page 7
