---
title: Sleepless in BsAs
chapter: ch1
slug: 5trouble
date: 2001-12-20
---
#linkBox{:align => "center"}
  %a{:href => "4hcut.htm", :target => "_top"}> &lt;  Back
   
  %font{:color => "#000000"}
    | 
    %a{:href => "1tc_title.htm", :target => "_top"} Chapter Index
     
    %font{:color => "#000000"} | 
  = succeed "\u{a0}" do
    %a{:href => "../index.htm", :target => "_top"} Home Page
  %font{:color => "#000000"} | 
  %a{:href => "6big_trouble.htm", :target => "_top"} Next  &gt;
#header.tcHead
  .header{:align => "left"}
    %span.headerChapter Chapter 1 |
    %span.style7
      %span.headerTitle Reports from 2001

#Content
  %p.paragraphHeader{:align => "left"}
    There is Big Trouble Down Here


  %p{:align => "left"}
  :markdown

    *Thu Dec 20, 2001 2.40 am:*
    My last post was more prescient than I thought.
    Here is the state of things  as of  130am, Buenos Aires time:

    What I have heard:

    1. There has been a state of emergency declared.
    This means not more than 2 people are allowed on the street
    together at one time.

    2. Some food markets have been taken over and looted by crowds,
    and 3 or 4 people have been killed by the police.

    3. People are  afraid and don’t know what will happen.

    What I have seen:

    1. There were broken windows this morning on *Avenida Independencia*.

    2. Earlier today I saw large crowds blocking two major intersections
    with signs demanding food and work.

    3. Police cars were rushing around earlier, but I haven’t seen any
    tonight.

    4. I saw welders welding steel grates across the front of food
    markets around town this afternoon.

    5. Tonight, despite the state of emergency and the ban on gatherings,
    a large mob gathered at *Independencia* and *Entre Rios*.
    I was sitting in a corner restaurant and the street was completely empty.
    Within half an hour, 500 to 1,000 people gathered, lit large
    fires and began to bang pans and drums.
    The noise was unbelievable.
    I ended up walking home because of blocked intersections.
    I’m sure the crowd is much larger now.

    6. I called a friend who took a taxi about an hour before I walked
    home and she said intersections were blocked and fires were
    burning all across the city.

    7. Everyone is in staying inside (except demonstrators), and
    everything is shut down.

    8. Right now I hear a big ruckus, with horns honking, and sirens
    outside.
    We are currently home in the apartment and okay, and dancing tango.
    The girls went out and bought food earlier today.
    Please post this to the tango-L list as a warning to anyone thinking
    of coming down here.


  %p{:align => "left"}
    %span.paragraphHeader Sleepless
    %br/
    %br/
    %font{:color => "#000000", :face => "Georgia, Times New Roman, Times, serif", :size => "-1"}
      %em "May you live in interesting times"
    %br/
    %font{:color => "#000000", :face => "Georgia, Times New Roman, Times, serif", :size => "-1"} -An ancient Chinese curse

  :markdown
    *Thu Dec 20, 2001 08:59 am*:
    First, I should apologize if my posting from 130am this morning was
    a little breathless.
    I had just walked through what appeared to be, from my small
    perspective anyway, the start of a revolution down here.
    My sudden transformation from reporting on tango adventures in the
    classes and milongas, to war correspondent, got me a little worked up.
    I have no intention of making matters worse for these great people
    down here by scaring away tango dancers from the U.S., but I also
    think people going on vacation should know what they might be
    getting into.
    It appears at this point (10am) that things have settled down,
    and I would probably still come to BA for tango, but I would be
    sure to bring plenty of cash in dollars, much of it in small bills
    because large ones are hard to change.
    Here is what happened yesterday:

    Everyone got up around the apartment at our usual tango time of
    about noon.
    (I had gone to an interesting milonga the night before, which I’ll
    tell about in another post).
    Renee Linnell and I decided to drive to La Boca (the old port)
    with Malena in her old car to hang out and have lunch.
    I had to be back to clean up for a 6pm class and milonga downtown
    with one of my teachers, Ricardo Vidort, who is one of the
    remaining old milongueros, and who has become a friend.
    On the way down to La Boca we had to detour because there was a
    large demonstration blocking one of the major intersections.
    The signs said *"El Pibe"*
    (which is a Lunfardo word meaning ‘kids’, or 'people'), and
    *"Pan y Trabajo!"*
    They appeared to be demonstrating for food and jobs, which
    seemed reasonable to me.
    We had some lunch at *La Boca*,
    *"La Cumparsita", "Volver", "Caminito"*,
    *"Mi Buenos Aires Querido"* over and over again.
    The people working in those shops must really hate that music.

    On the way back the demonstration appeared to be much larger,
    and it was a mess fighting the traffic and trucks funneled through
    the side streets.
    As usual, Malena was yelling at and talking to the other drivers
    in her *Porteño* dialect.
    After an animated conversation with a cab driver, she said to me,
    "Oh, man, the s**** going down tonight!".
    She’s excitable, and I didn't think too much of it, but she said
    markets were being looted, and we should get some food and go home.
    I was late for class, so they dropped me near the apartment,
    and they headed for a market to try to get some food.
    I got cleaned up, and was going down *Independencia*
    to get a cab, because I was too late to take the subway.
    I saw Renee coming down the sidewalk, and she said I was crazy
    to go downtown, they couldn't get into the market, and that I
    should come back up to the apartment.
    I just laughed, but I looked around and remember saying that
    the street "looks weird".
    People that were usually rushing around were just standing everywhere.

    On the taxi ride downtown I made it a point to look for food markets.
    The first one I saw was closed with metal grates up, and people
    inside peering out.
    At the second  one I saw, there was a  welder attaching steel bars
    on the front.
    For a moment I thought I should go home, but I didn't.
    I was glad I went.
    Ricardo Vidort and his teaching partner Alejandra Todaro were
    there, and he had made the long trip downtown to the small
    club on *Esmeralda* just for my 10 peso lesson.
    The organizer, Miguel Angel Balbi, had just cancelled this
    Wednesday milonga permanently, but he had agreed to open just
    so Ricardo and I could have the lesson -- and that would be the
    last tango dancing there, maybe forever.
    The three of them were there waiting for me, and I would have
    felt terrible if I hadn't showed up.
    After the class, we decided to go to the milonga at
    *Lo de Celia’s* on *Humberto Primo* and *Entre Rios*.
    *"La Cumparsita"*,

    Alejandra wanted to go home, but I talked her into staying with
    us because I wanted to buy them dinner. 
    We walked up *Entre Rios* toward *Independencia*
    to a *parrilla* where Ricardo had been going for 50 years.
    On the way, he pointed out street corners where he and his
    friends used to dance tango when they were kids.
    We sat in the *parrilla* and had an excellent meal of salmon,
    squash, ravioli, and nice bottle of wine.
    It felt a bit ominous because there was no one on the street,
    and under the emergency siege order you can be arrested if
    there are more than two of you hanging out together.
    I was facing the street, and Ricardo had his back to the windows
    telling me the most amazing and interesting stories about the
    early days of tango and his experiences during the "dirty war".
    We were laughing, and drinking wine, having a great time.
    I wish I had a video camera to record it, and I will try to
    remember some and post it later.

    As we talked I noticed a guy come to the corner and start banging
    on something.
    Then two more… and then two more.
    I remember thinking they were violating the state of siege rules,
    and there might be trouble, but I was also caught up in Ricardo’s
    stories.
    The crowd began to get bigger, and Alejandra began to get scared,
    but Ricardo just shrugged it off.
    Finally, I interrupted him and said Alejandra has to leave, and
    I took her out and found a taxi driver wearing a necktie, which
    somehow seemed safer to me, wished her luck, and sent her on her
    way (it turns out her taxi  had a hard time getting her home,
    and she was very frightened).
    The intersection of *Independencia* and *Entre Rios* is big.
    Each street is  about 6 or 8 lanes wide, and by the time I got
    back in and sat down with Ricardo, it had begun to fill with people.
    Cars were blocked, and a fire was started.
    I remember trying to listen to Ricardo, and looking over his
    shoulder as the banging became louder, and the flames reached
    higher and higher.
    Everyone else had gone home,  and I think the waiters were scared.
    They locked the door, some went into the back, and others kind
    of crouched and peeked out the windows.
    Ricardo just kept talking, and there we sat, rich people
    sipping wine in the window, in full view of a mob demanding
    food and jobs.
    The noise was incredibly loud.
    They were banging on pots, and drums, and steel  light posts,
    and the crowd quickly swelled to what must have been more than
    a thousand people.
    Flames were leaping 20 feet into the air.
    People were coming from everywhere.
    I was afraid we might get trapped in the restaurant, so I
    finally interrupted Ricardo again, and said I think it’s time
    to leave.
    We needed to walk down *Independencia* to the west, through the
    middle of the demonstration, and Ricardo suggested we should go
    the other way, but I checked it out, and it actually didn't seem
    as scary once you were in the middle of it.
    Sort of like 4th avenue in Tucson on the night the 'Cats won
    the NCAA  basketball championship.
    People were just very excited, and banging on pots and things.
    It doesn't seem like much now, but at the time I didn't know what
    would happen.
    Maybe it actually was a revolution, and a tank or some police
    might come -- and it wouldn’t be Tucson police. 
    It would be South American soldiers.
    I thought about some of the things that have happened down here,
    and it made me nervous.

    That’s about all there is to tell. It was about 1am, and we
    walked west on *Independencia*, *Entre Rios* must have been huge,
    and I’m glad we got out when we did.
    Ricardo was being gallant, and he wanted to stay with me for
    support and protection, although I am 6ft. 1 inch of coiled
    steel fighting machine, and I don’t know how much help a small
    70 year old man would be in a fight.
    When we got to the apartment I saw Malik and the girls 3 floors
    up on the balcony watching the action, and I yelled up to him.
    He said the door was barricaded, and they couldn’t let anyone
    in because it was too dangerous. Funny guy.
    We finally found a taxi for Ricardo, and I went upstairs to
    write my report.
    The apartment mates were worried about me, but everything was
    okay, so we had a milonga, and danced while Buenos Aires burned.

    This morning I got up early and walked into the center of town
    to buy some magazines for a lady in Tucson, and to continue my
    job as your man on the scene in BA.
    At *Independencia* and *Entre Rios* it wasn't too bad.
    The street was cleaned up, and there were a few broken windows,
    but that’s all.
    There wasn't much traffic for BA, but things seemed almost normal.
    I continued up *Entre Rios*, *Rivadavia* on the north side.
    Up toward *Corrientes* the damage was much worse.
    All of the banks had their  windows broken out, and many of the
    other stores also.
    People were lined up on the street in front of the banks,
    and there were lots of guards and police.
    I don’t think anyone is getting into the banks, but that’s
    been a problem here for several weeks now.
    I will let you know if and when the tango dancing returns.

  %p.paragraphHeader{:align => "left"} Update on the BsAs Situation
  :markdown
    *Thu Dec 20, 2001 11.40 am*:
    I thought maybe last night was the worst of it, and this morning
    things looked calmer, but I think things are really starting to
    come unglued.
    I’m tired after last night, so I tried to nap, but I gave up.
    There is so much racket in the streets -- pan banging, sirens, and
    car horns that I can’t sleep.
    I told the girls it was calm after my walk downtown, so they
    started down to *Flabella* to check on some shoes, but their
    taxi was  turned back.

    It’s now 330p here, and I’ve heard that a full-blown riot is
    developing downtown.
    I’m tempted to go check it out, but it’s probably a bad idea.
    Tango is definitely off for a while. More later.
  %p{:align => "center"}  
#linkBox{:align => "center"}
  %a{:href => "4hcut.htm", :target => "_top"}> &lt;  Back
   
  %font{:color => "#000000"}
    | 
    %a{:href => "1tc_title.htm", :target => "_top"} Chapter Index
     
    %font{:color => "#000000"} | 
  = succeed "\u{a0}" do
    %a{:href => "../index.htm", :target => "_top"} Home Page
  %font{:color => "#000000"} | 
  %a{:href => "6big_trouble.htm", :target => "_top"} Next  &gt;
#footer.tcHead
  %div{:align => "left"}
    %span.chapter
      %font{:color => "#333333"} Chapter 1 |
    %font.footerPage{:color => "#080808", :face => "Georgia, Times New Roman, Times, serif", :size => "-1"} Page 5
