---
title: Sin Rumbo
chapter: ch1
slug: 8sin_rumbo
date: 2003-07-01
---
#linkBox{:align => "center"}
  %a{:href => "7last_tango.htm", :target => "_top"}> &lt;  Back

  %font{:color => "#000000"}
    |
    %a{:href => "1tc_title.htm", :target => "_top"} Chapter Index

    %font{:color => "#000000"} |
  = succeed "\u{a0}" do
    %a{:href => "../index.htm", :target => "_top"} Home Page
  %font{:color => "#000000"} |
  %a{:href => "9across.htm", :target => "_top"} Next  &gt;


#header.tcHead
  .header{:align => "left"}
    %span.headerChapter Chapter 1 |
    %span.style7
      %span.headerTitle Reports from 2003
.picholder
  %img{:alt => "Costanera Norte", :height => "309", :src => "tc_pics/image012.jpg", :width => "214"}/


#Content
  %p.paragraphHeader{:align => "left"}
    Sin Rumbo &amp; the War of the Transvestites
  :markdown
    *July 2003 -- Midwinter in Buenos Aires:*
    It's my first time down here in winter, and it's very different.
    I am looking out the window at a Buenos Aires that has an unfamiliar
    brooding quality -- gray clouds, gray trees, and gray buildings.
    People wearing somber expressions and muted winter clothes.
    It's especially striking since this was an unanticipated (and for
    the most part unwanted) last minute trip.
    One day we were baking in Southern Arizona, and the next we are in
    dripping, cold BsAs -- London on the *Rio de la Plata*.
    From *Boca Junior* has just won the America’s Cup in soccer, so
    the crazies are out.
    They are racing through the streets again, drinking and yelling from
    the backs of pickups and waving those pastel blue flags with a picture
    of the sun in the middle, while the bright yellow and blue colors of
    Boca Junior team are hanging everywhere from apartment balconies.
    A few red and white flags of the losing *River Plate* team are hanging
    also, but they turn them to face inward in defeat, away from the street.

    But not just the weather is different.
    The quick change confirmed some things I suspected in the past, but
    wasn't sure of until now:
    the food really is better and healthier here, the service is also
    better, and the people, despite their worried distracted expressions,
    are more open and friendly.
    It's surprising how nice it is to be greeted again with hugs and
    kisses by the old milongueros and milongueras.
    It reminds me of the kisses I received as a child from uncles and
    grandparents.
    And of course, I'm instantly reminded that we are back in the Major
    Leagues of tango.

  %p.paragraphHeader
    Day Two
    %br/
    %font{:color => "#000000"}
      %em
        %font{:size => "-1"}
          "Vanity of vanities, all is vanity"
          %br/
      %font{:size => "-2"} -Ecclesiastes 1:2

  :markdown
    At the end of my 2001 reports I made two predictions.
    I said that I somehow felt I would never return to BsAs.
    This turned out to be very false.
    The other thing I said was I didn't plan to write again for a long time.
    I'm not sure why I felt it, but it turned out to be true.
    In some ways, writing is like tango -- you either feel the urge or you
    don't, and in fact, after I left BsAs in 2001 I wasn't really sure if
    I wanted to dance tango anymore either.

    My doubts about tango came to a head last year in Buenos Aires.
    I was in *Nino Bien* with Renee and Alejandra one night.
    I should have been on top of the world.
    I was with two of the most beautiful women in the city, my partner
    Alejandra was the finest tango dancer in the world, and the best
    milongueros in BsAs were coming to the table to ask permission to
    dance with them.
    But it was here that I realized that I didn't like tango anymore.
    The precipitating event was small: tango's heaviest hitter celebrity,
    and one of the local tough guys (a well known ex-cop and
    ‘*guarda espalda*’) were strutting and posing around the floor in
    their usual way.
    They accidentally bumped one another, and then began to engage in a
    smirking, slow motion gunfight as they continued to dance.
    Something inside me changed, and I realized I couldn't take another
    minute of it.
    The whole scene that I had been in love with for several years
    suddenly seemed dirty and cheap.
    Too much arrogance, too much stupidity.
    I saw ridiculous old men posing and primping, and trolling for tourists.
    Too much smoke, too much alcohol, and everything smelled of
    vanity -- frantic tourists, and women showing off in too tight clothes.
    In addition, there had been vague threats from the milongueros
    because I was with Alejandra.
    And the codes that once seemed a fair way to avoid conflicts in the
    charged atmosphere of the milonga now seemed like just another tool
    for a bunch of old men to hold on to their power.
    I've never been huge on social conscience, but this scene suddenly
    stood in sharp contrast with my experiences in the events of
    December the year before.
    The young ‘*cartoneros*’ in the streets, and the desperate and
    earnest Willy Loman like salesman on the buses with their
    well-combed hair and their slept-in suits trying to make a few cents
    selling pens was too much.
    I'd had enough of BsAs tango.
    Alejandra and I left and never went back to a milonga after that night.
    We rented a private studio and danced alone for a week ($1.50/ hr),
    and then we went to the provinces (*Jujuy* and *Salta*).

    Well, we are back now, for better or for worse as they say.
    I'd rather not be here, but it's not so bad.
    I may actually be falling in love with this old city again.
    The night before last in the milongas wasn't so good, but last night
    was miraculous.
    I'll write about it next time, after I answer some of the personal
    emails.

  %p.paragraphHeader
    Day Three
  .figureRight
    %p
      %img{:alt => "Sin Rumbo entry", :height => "215", :src => "tc_pics/image013.jpg", :width => "302"}/
    %p
      The entry to the club.

  :markdown
    One of my all time favorite opening tango lines goes like this:
    “*Sin rumbo fijo, mi vida va...*”
    It doesn't translate well to English, but essentially it says,
    "Without direction, without fixed goal, my life goes forward".
    In Spanish it's great.
    Sung in Castellano, in the Biaggi vals, “*Lejos de Ti*”
    it is sublime.
    Because of the song, *Club Sin Rumbo* has existed in my imagination
    for some time.
    I pictured a remote place in the far barrios, with some lost,
    directionless souls dancing sad tango.
    I thought maybe the name of the club came from the song, but the
    truth behind the name is even better.
    80 years ago a man went to the *hipodromo* (horse track) and
    placed a bet on a horse named *Sin Rumbo*.
    This *Club Sin Rumbo, la Catedral de Tango* -- *Sin Rumbo*.

  .figureLeft
    %p
      %img{:alt => "Sin Rumbo wins!", :height => "198", :src => "tc_pics/image015.jpg", :width => "313"}/
    %p Nov. 29, 1919—Sin Rumbo wins!

  :markdown
    By the way, my second favorite name for a tango club is
    “*El Fulgor de Villa Crespo*”.
    This name brings a smile to most Argentine faces.
    It means something like the most wonderful resplendent thing shining
    with its own brilliance in the *Villa Crespo* neighborhood
    (our kids and granddaughter live just around the corner from it).
    And it is a great place.
    Another beautiful friendly little barrio club, and it's the only
    place in the history of my life where I have ever won anything.
    As we were leaving, my ticket number was drawn, and I won a glass of
    whiskey (which I was politely required to drink before we could leave).
    And outside on the deserted cobblestone streets a small flock of
    transvestite prostitutes wanders like exotic birds.
    The first time we  walked into the neighborhood on a cold foggy night
    looking for the club, they somehow appeared in the middle of the
    completely deserted street.
    Not a soul, not a car, the pale street lamps stretching into the far
    distance, and they just appeared; almost dropping from the sky like
    the colorful peacocks that Fellini once dropped into a snowy scene
    in one of his movies.
    They were completely unexpected, and somehow glorious to the extent
    that they were wearing less clothing than Victoria's Secret models
    (thongs, fishnet stockings, micro mini slips) and the temperature
    was a damp bone chilling 45 degrees.
    I immediately took pity and wanted to invite them into the club to
    warm up with a drink, but Alejandra said no, it's not downtown.
    It's a family place. No way.

    Being a country boy, I find this phenomenon of big city prostitutes
    interesting in an academic sort of way.
    I decided to do some more research, in the interest of cross-cultural
    studies.
    Which means we asked a taxi driver about it.
    Here's what he said.
    The well-known main spot for them is a street that is not that far
    from our house in *Palermo*  He  *Guerra de las Travestis* .  Apparently

    My mind reels with visions of 6 ft. tall transvestites in high heels
    and underwear battling ferociously in the rainy streets with knife
    wielding female prostitutes in mini skirts, ambulances carrying
    away the wounded, and fireman with high pressure hoses and mounted
    police trying to restore order.
    I need to get over there with my video camera.

    That's all. This post was supposed to be “*En la Buena, y en la Mala*”
    -- a story about a wonderful night in *Sin Rumbo* with 15 of
    the greatest old milongueras of all time dancing and being
    honored (which I got on film!), and a small run in with a couple
    of the big time tango celebrities downtown.
    Instead it's about prostitutes fighting.
    Oh well. *Sin rumbo fijo, mi vida va*.

  %p
#linkBox{:align => "center"}
  %a{:href => "7last_tango.htm", :target => "_top"}> &lt;  Back

  %font{:color => "#000000"}
    |
    %a{:href => "1tc_title.htm", :target => "_top"} Chapter Index

    %font{:color => "#000000"} |
  = succeed "\u{a0}" do
    %a{:href => "../index.htm", :target => "_top"} Home Page
  %font{:color => "#000000"} |
  %a{:href => "9across.htm", :target => "_top"} Next  &gt;
#footer.tcHead
  %div{:align => "left"}
    %span.chapter
      %font{:color => "#333333"} Chapter 1 |
    %font.footerPage{:color => "#080808", :face => "Georgia, Times New Roman, Times, serif", :size => "-1"} Page 8
