---
title: Tango in Uruguay
chapter: ch1
slug: 12uruguay
date: 2003-07-30
---
#linkBox{:align => "center"}
  %a{:href => "11soul.htm", :target => "_top"} &lt;  Back
   
  %font{:color => "#000000"}
    | 
    = succeed "\u{a0}" do
      %a{:href => "1tc_title.htm", :target => "_top"} Chapter Index
    %font{:color => "#000000"} | 
  %a{:href => "../index.htm", :target => "_top"} Home Page 
  %font{:color => "#000000"} | 
  %a{:href => "13celia.htm", :target => "_top"} Next  &gt;
#header.tcHead
  .header{:align => "left"}
    %span.headerChapter Chapter 1 |
    %span.style7
      %span.headerTitle Reports from 2003
#Content
  %p.paragraphHeader Where is Everybody?
  %img.floatLeft{:alt => "Yacht Club, Buenos Aires ", :height => "225", :src => "tc_pics/yachtclub.jpg", :width => "300"}>/

  :markdown
    *Buenos Aires, July 30, 2003:*
    We are back from a week in Uruguay, tanned, rested, and ready to
    resume reporting on tango and tourism in Greater Buenos Aires and
    suburbs and this report is about a very, very far suburb:

    # Where is Everybody?

    *Uruguay, Friday, July 18:*
    We arrived Friday evening on the *Buquebus* hydrofoil boat from BsAs,
    and the contrast with the 24-hour raucous party and automobile
    demolition derby that is Buenos Aires was immediately apparent.
    The streets of central Montevideo seemed practically deserted.
    There were almost no cars, and almost no pedestrians.
    We saw the same beautiful old buildings BsAs has, but no one was
    around.
    We were shuttled to a big hotel on the main plaza that was almost empty.
    They advertise Montevideo as the safest city in the world, and it
    may be true.
    A career in street crime must be difficult when there is no one to rob.
    Also the few people we did see were old, and the 60-70 year old
    demographic is not heavily populated with armed robbers.

    After an unsuccessful search for a Friday night milonga, and
    dinner in an empty parrilla, we called it a night.
    The next day was sunny and breezy and we strolled the city,
    *sin rumbo fijo*.

    *Granadero* uniforms, the colorful dress cavalry uniforms of the
    old days.
    I decided to use Alejandra's camera to take a picture of them in
    their tall hats, guarding a huge statue of a general on a horse with
    a pigeon on his head.
    When I got closer, they snapped to attention, and watched me out of
    the corners of their eyes while I took the shot.
    Then, when I turned and left, they resumed chatting and looking
    around the plaza like any group of teenage boys hanging out and
    looking for girls.
    Which they were.
    This relaxed attitude seemed to be everywhere, in sharp contrast to
    the edgy nervousness of Buenos Aires.
    We walked along the sea wall and watched the commercial shipping
    come and go.
    On this quiet Saturday in the old central part of town, reasonably
    affluent Montevideo had the appearance of an economic backwater
    that has been isolated under the thumb of some eccentric dictator.
    Along the waterfront there are broad avenues with almost no traffic.
    Occasionally a smoking 55 Chevy or ancient Fiat or Renault would
    come putt-putting by with the occupants peering curiously out of
    the side windows at the world drifting slowly by.
    The residents are very friendly, but despite constantly sucking on
    *mate* gourds, which should wake them up, they have a dreamy, almost
    addled,  no worries  attitude.
    This is a real change from the energetic *Porteños*,

    *18 de Julio*)

    *colectivo 12* (*el doce*) is a Mr. Toad's wild ride, threading the
    needle between taxis and trucks, with pedestrians diving for cover.
    A friend of mine was almost killed when a hurrying bus driver
    clamped the rear door shut on his foot before he could step down.
    He was dragged down the street, watching the rear wheel rolling
    inches from his head, until the screams of the passengers finally
    stopped the driver.
    But Montevideo is so safe and tranquil that I even saw bicycles
    parked around town without locks on them.

    If tango is alive and well in BsAs, it is, well... alive in Montevideo.
    The schedule says there are a lot of milongas, but they were hard
    to find.
    Nothing Friday, and on Saturday the advertised location was closed and
    dark with no explanation.
    We finally found something, a special twice a month event in a
    fantastic spot called *Mercado de la Abundancia*.
    *fulgor* of tango!
    This may have been the birthplace of tango, but if tango ever was
    here, it grew up and took the *Buquebus* to BsAs.

    The location was great, an old market that took up almost an entire
    city block, with a high old ornate metal roof with skylights.
    Four parrillas smoked away inside, but the roof was so high that
    the air remained clear.
    There was a big crowd, made up mostly of people who came to eat at
    the restaurants and watch the dancing.
    It was a fun spot with nice people, but I'm afraid I've become a bit
    of a tango snob, because I have to say that the music and the dancing
    were not very good.
    The first music played seemed to be by the well-known orchestras,
    but it was hard to recognize.
    They had the right orchestras, but they seemed to have picked versions
    recorded for a concert, rather than for dancing.
    I kept asking Alejandra if she had ever heard this music before, and
    she hadn't.
    Finally she resorted to an old habit I had picked up in the U.S.
    She went up and had a talk with the DJ.
    He said he knew it wasn't much, but he couldn't change it.
    The people who ran the market furnished it, and it was a continuous tape.
    Finally the tape ended, and he took control of the music, but it
    really wasn't a lot better.
    It was a random mix of everything, and I realized how much I had
    come to rely on and appreciate the pro DJs of BsAs.
    There were no *cortinas* to separate the tandas, and the music had
    no flow or continuity.
    A *vals* followed a *milonga*, then Calo, then maybe De Caro, or
    performance style Pugliese followed by another milonga.
    We found ourselves getting up and sitting back down like a second
    string tackle being shuttled in and out of a football game.
    It really made me appreciate and understand the purpose of
    well-organized tandas separated by *cortinas*. *baldosa* dancing.
    I stayed almost in one spot, arms in tight, doing close giros and
    short rock steps.
    Almost immediately the guy in front of me took a big back step into us.
    Then we were brushed from behind by a couple dancing with an open,
    elbows out, leg throwing style.
    A minute later we were almost hit by someone drifting out from the
    middle of the floor.
    I was almost expecting the table to dance over and kick us before the
    music ended.
    I asked Alejandra if she was okay, and we gave up.

    We tried dancing later in one of the aisles that led into the dining
    tables of the *parrilla*,
    *Porteños* are used to charging around heavy traffic in cars and
    buses, always inches from disaster.
    These people may not be used to it.
    Crowds fluster them, and they don't have the skills to move in
    close quarters.

    I don't mean to say the people are rude. Just the opposite.
    They are very nice, but they just don't seem to get tango.
    We talked to a woman next to us and she said,
    We are not like *Porteños*.

    *candombe* group danced into the place, drums banging away.
    The crowd seemed to shed its inhibitions and acquire a sudden grace.
    *Candombe* is said to one of the predecessors of milonga and tango,
    but it's hard to see the connection.
    It is a very loose African Cuban type of thing that, to me, has
    little resemblance to tango.

    On Sunday we took a long walk along the *rambla*,
    *Don Trigo* that night.
    It was held in the small back room of the restaurant, in *Pocitos*,
    *destornillador* (for which I have acquired quite a taste lately)
    and tried to play the role of the objective reporter.
    Let's see: small wooden floor, six to eight couples dancing,
    disco ball spinning with lights.
    The dancers all seemed to be beginners, but they were trying very
    hard to follow the music in their awkward beginners' way.
    Again the music, and we talked to the DJ, Daniel.
    A very nice man, but he said that in Montevideo they only like
    slow tangos like Calo, or Pugliese.
    The faster music of BsAs doesn't suit them.
    But he was very nice, and hunted up some Tanturi just for us.

    Maybe it was the drink, but I began feel bad about reporting on them.
    These people weren't trying to perform for anyone.
    They were very sincere people, trying to follow the music, with none
    of the self-satisfied smugness (sorry I have to say it) that sometimes
    seems apparent in milongas of the U.S.
    And I felt like I was spying on them for other people.
    Is it possible I could say something that could actually hurt someone,
    or maybe damage a club or a milonga down here?
    I am looking over my shoulder and second-guessing, and that's not
    a good thing... in writing, or in tango dancing.

    Afterwards we went to eat in a nice *parrilla*, *Porteños*,

    We are off to Colonia to relax for a few days, and then back to BsAs.

    (A note from my editor, Alejandra. She says:
    1. It should be made clear that the pigeon on the head of General
    Artigas in Plaza Independencia was a wild one that landed there, and
    was not part of the statue, and that:
    2. The incident I described where Ed got his foot caught in the door
    of the bus was an isolated one, and was maybe even his fault, and
    should in no way be taken as a slur on the clean, safe, and reliable
    municipal bus service of Buenos Aires, nor on any of its dedicated
    employees.)

#linkBox{:align => "center"}
  %a{:href => "11soul.htm", :target => "_top"} &lt;  Back
   
  %font{:color => "#000000"}
    | 
    = succeed "\u{a0}" do
      %a{:href => "1tc_title.htm", :target => "_top"} Chapter Index
    %font{:color => "#000000"} | 
  %a{:href => "../index.htm", :target => "_top"} Home Page 
  %font{:color => "#000000"} | 
  %a{:href => "13celia.htm", :target => "_top"} Next  &gt;
#footer
  %p{:align => "left"}
    %span.chapter
      %font{:color => "#000033"} Chapter 1 |
    %font{:color => "#000033"}
      %font{:face => "Georgia, Times New Roman, Times, serif", :size => "-1"} Page 12
