---
title: Efficient tango
chapter: ch2
slug: 6efficiency
date: 2005-04-06
---
#header.secretHead
  .subHeader{:align => "left"}
    %span.chapter Chapter 2 |
    %span.headerTitle Secrets of the Milongueros
.content
  %p.paragraphHeader
    %br/
    Efficiency
    %br/
    %br/
    %em
      %font{:color => "#000000", :size => "-1"}
        “If you are going to dance tango, stand up straight and walk right”
        %br/
        %font{:color => "#E6E5CC"} xxxxxxxxxxxx
    %font{:color => "#000000", :size => "-1"}
      %font{:color => "#E6E5CC"}> x
      \-the only tango advice given to Jorge and Dany by their father
  :markdown
    *El Gallego* (Jorge Garcia) is one of the most elegant tango dancers
    in Buenos Aires. 
    Like his brother Dany Garcia (“*El Flaco*”), he is always in perfect
    balance, even when his feet are moving with blurring speed. 
    He boxes and runs almost every day, and for many years he was
    Osvaldo Pugliese’s bodyguard. 
    When Pugliese was being harassed by the government for his communist
    beliefs, he would occasionally be thrown in jail, but his orchestra
    would continue performing with a vacant chair in Pugliese’s spot --
    and of course Jorge would be out of work until he got out. 
    (Jorge was present with him in the famous 1974 meeting in the
    *Casa Rosada* when Perón shook Pugliese’s hand and apologized for
    his treatment at the hands of the government.)


  .picbkgrd4
    %img{:alt => "El Gallego y Alejandra Todaro", :height => "300", :hspace => "6", :src => "2_pics/6efficiency/image002.jpg", :width => "164"}/
    %img{:alt => "El Gallego y Alejandra Todaro", :height => "300", :hspace => "5", :src => "2_pics/6efficiency/image004.jpg", :width => "164"}/
    %img{:alt => "El Gallego y Alejandra Todaro", :height => "300", :hspace => "6", :src => "2_pics/6efficiency/image006.jpg", :width => "174"}/
    %img{:alt => "El Gallego y Alejandra Todaro", :height => "300", :hspace => "6", :src => "2_pics/6efficiency/image008.jpg", :width => "169"}/
  %p.pictureCaption By relaxing unneeded muscles, a tango dancer can create powerful and efficient movement.

  :markdown
    Because body movement requires muscular energy, any dancer (or athlete)
    who can eliminate unnecessary muscle tension will move more efficiently. 
    In a sense, physical learning is a process of eliminating unneeded
    movement. 
    Experts learn how to relax unneeded parts of the body, and put all of
    their energy and concentration only into the muscles needed. 
    This comes naturally to some, but it also takes time and practice. 
    Just like a good golf swing, the best tango is relaxed, efficient,
    and powerful. 
    Unneeded muscles relax and flow to release power and accuracy. 
    Look at the following picture:
  %p  
  %img.picborder{:alt => "El Gallegon y Alejandra Todaro", :height => "394", :src => "2_pics/6efficiency/image009.jpg", :width => "236"}/
  %p  
  :markdown
    *El Gallego* is putting all of his energy into the music.
    He moves with an efficient chest forward style, like an accelerating
    track athlete.
    But notice the man in the background.
    He's expending extra energy by bending at the waist and holding his
    arm in an unnatural position. 
    His back and shoulders are tight, his center of balance is back, and
    he is actually fighting his own body. 
    In all the pictures you can see how *El Gallego's* efficient chest
    forward style sends a clear lead to Alejandra, which   allows her to
    relax and flow with the music.
    But the woman in the background is probably not receiving clear
    signals from her partner --
    and she will have a much more difficult time.

    When I began to dance tango, I found that I would get pains around
    my ankle, on the top of my foot, and even in my toes…
    places where I didn’t even know muscles existed. 
    Later, I learned what should have been obvious: I was trying to move
    in unnatural ways. 
    The feet, ankles, and toes are designed to stay centered and support
    the body, not to help force the torso and upper body into the unnatural
    tango moves that are sometimes taught in classes. 

