---
title: Secrets of the milongueros revealed
chapter: ch2
slug: 9secrets
date: 2005-04-09
---
#header.secretHead
  .subHeader{:align => "left"}
    %span.chapter Chapter 2 |
    %span.headerTitle Secrets of the Milongueros
.content
  %p.paragraphHeader
    %br/
    Secrets Revealed!
  :markdown
    When you put it all together, it begins to make sense.
    The milongueros lean forward into the step with an easy athletic
    stride, carrying the woman along with the chest.
    They initiate movements by tipping slightly off their center of
    gravity and using the weight of the upper body to lead the woman --
    and they keep the arms still and the head centered.
    The result is that the torso and lower back remain relaxed,
    allowing them to stride out with strength and power.
    By placing each foot directly in front of the other when walking,
    they eliminate any side-to-side movement.
    And since they are always centered, they can balance and pivot
    easily on either foot, and create complex turns at any place in
    the dance.

    Staying centered and relaxed, and stepping solidly into the floor,
    allows  the milongueros to  express  the music with freedom and
    creativity in the crowded milongas.
    It is good basic technique that makes it possible for them to do
    complex cadences with their feet and perform balanced and relaxed
    *giros*.  Long

    Here are some random shots  of some of the very best of Buenos Aires --
    a mixed bag of balanced, efficient, and beautiful dancing.
    We should enjoy it while we can…
    the median age here is almost 70.

  .picbkgrd3
    %img{:alt => "Tete y Alej", :height => "300", :hspace => "19", :src => "2_pics/9secrets/image001.jpg", :width => "153"}/
    %img{:alt => "Miguel Balbi", :height => "300", :hspace => "19", :src => "2_pics/9secrets/image005.jpg", :width => "142"}/
  %p
  .picbkgrd3
    %img{:alt => "Alejandra Todaro y Osvaldo Buglione", :height => "300", :hspace => "12", :src => "2_pics/9secrets/image007.jpg", :width => "186"}/
    %img{:alt => "Alejandra Todaro y Gerard Gelle", :height => "300", :hspace => "12", :src => "2_pics/9secrets/image009.jpg", :width => "161"}/
    %img{:alt => "Elba y Blas", :height => "300", :hspace => "12", :src => "2_pics/9secrets/image011.jpg", :width => "149"}/
  %p
  %p
  .picbkgrd3
    %img{:alt => "Alejandra y Alito", :height => "300", :hspace => "18", :src => "2_pics/9secrets/image013.jpg", :width => "147"}/
    %img{:alt => "Alej y Buglione", :height => "300", :hspace => "18", :src => "2_pics/9secrets/image015.jpg", :width => "162"}/
    %img{:alt => "Alej y Tito", :height => "300", :hspace => "18", :src => "2_pics/9secrets/image017.jpg", :width => "150"}/
  %p
  .picbkgrd3
    %img{:alt => "Napo y Lili", :height => "300", :hspace => "18", :src => "2_pics/9secrets/image019.jpg", :width => "129"}/
    %img{:alt => "", :height => "300", :hspace => "18", :src => "2_pics/9secrets/image021.jpg", :width => "147"}/
    %img{:alt => "Alejandra y Tete", :height => "300", :hspace => "18", :src => "2_pics/9secrets/image023.jpg", :width => "191"}/
  %p
  .picbkgrd3
    %img{:alt => "Oscar Hector", :height => "300", :hspace => "10", :src => "2_pics/9secrets/image025.jpg", :width => "176"}/
    %img{:alt => "Gerard", :height => "300", :hspace => "10", :src => "2_pics/9secrets/image027.jpg", :width => "175"}/
    %img{:alt => "Ismael", :height => "300", :hspace => "10", :src => "2_pics/9secrets/image029.jpg", :width => "172"}/
  %p
  %h2
    %font{:size => "-1"}
      Top row: Tete y Alej,  Miguel Balbi
      %br/
      Second row:  Osvaldo Buglione y Alej   Gerard Gellé y Alej, Blas y Elba
      %br/
      Third row: Alito y Alej, Buglione y Alej Tito y Alej
      %br/
      Fourth row: Napo y Lili, Roberto N. y Adriana Pascuzzi, Tete y Alej
      %br/
      Bottom row: Oscar y Terecita, Gerard y Noemí, Ismael El Jalil
    %br/
    %br/
    %br/
