---
title: Efficient and natural tango
chapter: ch2
slug: 7natural
date: 2005-04-07
---
#header.secretHead
  .subHeader{:align => "left"}
    %span.chapter Chapter 2 |
    %span.headerTitle Secrets of the Milongueros
.content
  %p.paragraphHeader
    Natural Tango
  :markdown
    # Natural Tango

    The lesson in these pictures is that although the very best dancers
    move in an infinite variety of ways, they all demonstrate surprisingly
    similar body positions.
    Why is it that the best dancers always look so similar when captured
    by the camera?
    Their styles differ a lot from each another, and from dance to dance
    as well -- and yet they always seem to return to the same places.
    Did they all go to the same classes?
    The answer, I think, is that after years of dancing in the milongas,
    the best ones have all evolved into the most efficient positions.

    Just as in nature, to 'evolve' in tango means to change in response to
    some outside stimulus.
    The natural movement of the milongueros was not 'invented'
    that is it wasn't created from experimentation in classes.
    It evolved as a natural response to its environment over the course of
    many years.
    It's the result of the special feelings and rhythms of the music
    played in the neighborhoods.
    It comes from the natural expression of this music in crowded conditions,
    very close to other dancers.

    Let's look at some of the specific results of this natural evolution
    of movement in the milongas.
    First, the dancers in the following pictures stay straight and centered
    so that the muscles in the back, legs, ankles, and feet can relax.
    Forward movement is first led by the upper body...
    it begins with a slight tipping forward, leading with the chest.
    This communicates the energy to the follower just before the step is
    taken, and it allows both partners to remain tall and upright.
    The torso and upper body of the leader should surge forward and arrive
    right over the leading leg when it touches the floor, so that all of
    the weight is instantly transferred onto a straight leg.
    The result is the classic tango walk surging forward with the music,
    and stepping solidly into the floor.
    The couple should flow effortlessly, using the weight of the torso
    for forward momentum, without excessive pushing from the legs and
    ankles of the leader.

  .picbkgrd3
    %div{:align => "center"}
      %img{:alt => "Cristina y Nestor Serra", :height => "287", :hspace => "9", :src => "2_pics/7natural/image003.jpg", :width => "137"}/
      %img{:alt => "", :height => "287", :hspace => "9", :src => "2_pics/7natural/image005.jpg", :width => "185"}/
      %img{:alt => "Alejandra Todaro y Alito", :height => "287", :hspace => "9", :src => "2_pics/7natural/image004.jpg", :width => "139"}/
      %br/
      %br/
      %br/
      %img{:alt => "Alejandra Todaro y Luis Grandona", :height => "287", :hspace => "9", :src => "2_pics/7natural/image006.jpg", :vspace => "5", :width => "156"}/
      %img{:alt => "Alejandra Todaro y Tito", :height => "287", :hspace => "9", :src => "2_pics/7natural/image016.jpg", :vspace => "5", :width => "171"}/
      %img{:alt => "Ricardo Vidort y Alejandra Todaro", :height => "287", :hspace => "9", :src => "2_pics/7natural/image017.jpg", :vspace => "5", :width => "153"}/
      %br/
      %font{:size => "-1"} Top row: Nestor y Cristina, Julio Duplaa, Alito. Second row: Luis Grandona, Tito, Ricardo Vidort
  %p  
  :markdown
    The milongueros in the pictures above don't move their arms or heads
    around when they dance. 
    Their shoulders stay down and relaxed, and they keep  just enough
    tension in their arms to maintain a firm embrace. 
    Keeping the head  and the arms still is not just for looks.
    If the head and arms move around, muscles in the torso and legs must
    tighten to compensate  for changes in balance.
    Unnecessary movement disrupts other parts of the body, as well as the
    balance of your partner.  
