---
title: Secrets of the milongueros
chapter: ch2
slug: 1secrets_title
date: 2005-02-18
---
.content
  %p.paragraphHeader{:align => "center"}
    %br/
    What a Long Strange Trip It's Been
  %h2{:align => "center"}
    %em
      %font{:color => "#E6E5CC", :face => "Georgia, Times New Roman, Times, serif"} xxx
      %font{:face => "Georgia, Times New Roman, Times, serif"}
        “
        %font{:size => "-1"} And you may find  yourself in another part of the world...
    %font{:face => "Georgia, Times New Roman, Times, serif", :size => "-1"}
      %br/
      %em
        %font{:color => "#E6E5CC"}>   xxx
        And you may find yourself  behind the wheel of a large automobile.
      %br/
      %em
        %font{:color => "#E6E5CC"}>   xxx
        You may ask yourself, well…how  did I get here?”
  %h3{:align => "right"}
    %br/
    %font{:face => "Georgia, Times New Roman, Times, serif", :size => "-1"} -David Byrne, Talking Heads
  %p{:align => "center"}

  :markdown
    *Sonoran Desert, February 18, 2005*:
    When  you think about it, we are all traveling together through time.
    We live in the present moment, with our pasts spreading out behind us
    like the wake of a ship.
    We can look back and watch it slowly fade into the distance, until it
    disappears over the horizon... but the future is less clear.
    Every second of the day we move forward into a thick fog   filled with
    countless paths and a million choices… and each path branches,
    and leads to a million more.
    Some choices are clear and easy, with predictable results --
    but others aren’t so obvious.
    And a few choices  can lead to big changes.
    Choose school A instead of school B, or move to the East Coast
    instead of the West Coast, and you are selecting a path that will
    change you forever.
    Meet your alternate self five years later, and you may not even know
    each other.
    The East Coast Rick will have a different house, job, friends…
    even different thoughts, than the West Coast Rick.
    In fact, you will be different people.

    So you sign a  tuition check, or you decide to take a part time
    job, and you enter a new world.
    A life opens, and another is thrown away.
    Sometimes it’s done with a bit of planning, sometimes on a whim, and
    sometimes (the scary and exciting part), we don’t even see it coming.
    Every time I walk by the funky old Greyhound bus station in Tucson,
    I think about the author, Carlos Castenada.
    I look in at the shabby plastic chairs and think of him sitting there
    40 years ago, waiting for his bus.
    Next thing, he happens to strike up a conversation with the little
    Yaqui Indian sitting next to him… and he's gone.
    Instead of catching the bus to begin a sedate professorship,
    he's off on his famous odyssey of adventure and mind altering drugs
    in the mountains of Mexico.
    He never knew what hit him.

    In the  spring of 1998 I found myself with some extra time on my hands.
    The sweet girl I had been spending my days  and nights with for
    several years had moved on to other things.
    Or maybe I had moved on.
    I’m not exactly sure what happened, but  suddenly my nights and
    weekends were free.
    Then one day I noticed a story in the newspaper.
    A reporter had taken classes at some different  dance studios
    town, and written an article about it.
    At the end of  the article, it said,  why don’t you give it a try?
    It listed the places, and explained  that they all offered packages
    of introductory dance lessons for about  $20.
    So I picked up the phone and signed  up at a couple of different
    places near my house.
    My reasoning was fourfold:
    1) I can meet women.
    2) Learning to dance will give me something to do in clubs
    besides sitting on  a barstool, and talking like a damn fool.
    3) It will be exercise, and
    4) ...I can meet women.

    So I began to make the rounds of the studios… and my nights were
    no longer  free.
    And I quickly found out several  things.

    First of all, these dance places  I had been driving past for years
    were indeed full of beautiful women.
    Why hadn’t I figured that out twenty years  ago?

    Second, the studios were very  competitive.
    They didn’t like it at all  if they found out you were taking classes
    at another studio. It was actually kind  of funny to listen to them
    diss each other, and come up with reasons why it would ruin your
    dancing to go down the street to the “Arizona Ballroom”, instead of
    staying with  them exclusively  at the “Desert Terrace”.

    After awhile, I began to get the picture.
    In the  beginning I thought they were like trade schools where you
    would learn a  skill (say, dancing waltz or foxtrot) and then go out
    in the world and practice  it.
    But it really wasn’t like that.
    They wanted to teach you all sorts of dances,  and then have you stay
    with them, and practice them forever.
    They had a full schedule of private classes,  group classes,
    practices, evening dances, and these exhibitions that everyone
    prepared for.
    There were endless levels,  and you were awarded small trophies for
    performing.
    Every so often, the studios would declare a  truce and come together
    to hold conferences for everyone to perform and  compete.
    I saw funny and sad things.
    Lonely old ladies searching for attention and spending a lot of money,
    practicing along side large construction guys sweating and trembling,
    trying to learn to dance to country-western music.
    There were dignified professional men  who were god-like figures in
    their hospitals and courtrooms, stumbling stiffly around,  trying not
    to look silly.
    (Here’s a  hint: you cannot dance with a stick up your butt).
    The beautiful women  instructors worked the customers, and the small
    gay men instructors  pranced.
    It was quite a show -- and it was  fun.
    But I really wasn’t getting  anywhere.
    In the end, I learned that I  looked like a doof trying to wiggle my
    hips and dance the Cha-Cha or Rumba or whatever, and that  there is
    probably no club anywhere in town, at least that I’ve ever seen,
    where you can  actually dance like that without getting hit.
    Or maybe hit on by another guy.

    But just  when I was about to quit...   I was  walking out of  my
    last class one evening, when I noticed a group of  people in a
    separate part of the room.
    So I walked over to listen for  a moment.
    The guy said, “This is *Argentine* tango, it’s  not the ballroom tango
    you learn in the regular classes.
    We’re not with the studio, this is a  community college course,
    and it’s different.”
    I checked my watch, and almost walked on.
    But then I made eye contact with a beautiful  girl in the group who
    was almost twenty years younger.
    I decided to listen a bit more.
    The next thing I knew, the girl and I were  hanging out and practicing
    tango together.
    After about six months we split up, but at that point I didn’t care.
    It wasn’t really the dancing that grabbed  me.
    The man who gave the course actually  turned out to be one of the
    worst instructors in the history of tango, but for  some reason the
    music pulled me in.
    Music has never been a big part of my life -- more or less just
    something  in the background.
    But for some reason  this strange hundred-year-old music reached
    up from the bottom of the world and  took over my life.
    And I’ve been living  with its cadences, and its poetic lyrics ever
    since.
    There  should be a sign: “Caution. Stop! Think!  The next few moments
    of your life will change *everything*!

    # If You Can't See It, You Can't Dance It.

    > “It took several years to get past being fascinated with the steps,
    which were my first draw to the dance.
    The dancers who were doing less footwork were uninteresting to me and
    I just didn't see them.
    Then, years of advice from the milongueros to  feel the dance, not
    just learn steps, began to take effect.
    I started to notice the dancers  for how they stood, embraced and
    felt the music.
    It isn't like I didn't know about these things  before,  I just
    didn't see them… even though they were  right in front of me.”
    -Daniel Trenner

    *Tucson, February 20,  2005 -*
    I’ve come a long way in tango.
    In the beginning,  I took hundreds of classes and  workshops, and
    bought a ton of videos.
    Later, I began to spend a lot of time in the milongas in Buenos Aires.
    But tango is very slippery, and the big  questions I had when I first
    started remained:
    Exactly what is good tango?
    And  how the hell do you do it?
    What should I  practice?
    How do I even know if I’m  getting better?
    Maybe, I thought, if  tango is infinitely perfectible, then no one
    ever really figures it out.
    Or, then again, maybe no one ever figures it  out… but no one is
    ever really lost either.
    Wow, heavy!
    But as time passed, I  began to realize that the first step toward
    dancing well is to be able to  identify what’s good and what isn’t.
    Without exception, the best dancers recognize other good dancers
    instantly.

    So, I got  busy.
    Over the last four years Alejandra  and I have spent about a zillion
    hours dancing and filming in every corner of Buenos Aires.
    The result, at this point, (besides having a  lot of fun and meeting
    people) is about thirty hours of digital film.
    It may not sound like a lot -- but I think it’s  pretty good film.
    We’ve captured more  than 100 of the best dancers in BsAs in their
    natural environment.
    These are not the performers and well known  teachers, most of whom
    are already on film.
    These are the hard-core milongueros and tango addicts who have been
    in  the clubs forever -- some for more than sixty years!
    We look for three types of dancers.
    First, of course, we film the milongueros and  the milongueras.
    Milonguero and milonguera  are terms that are commonly used in the
    clubs to describe the older men and  women who learned to dance in
    the streets and in the milongas in the 1940’s and  1950’s, and who
    have been at it for a very, very long time.
    I used to hear that there were about 15 or 20  of them still alive.
    Then, after some  time in BsAs, I realized there were about 30 or
    40 of them.
    Now, after spending more time, and looking in  the suburbs, I know
    that there are at least 100 of them who are still dancing  tango.
    And, we hope, quite a few  more.

    We’ve  also filmed a few of the best younger dancers, (younger
    here, means under  sixty).
    They aren’t milongueros, and  some may have even begun in classes,
    but if Alej and I think they’re good, we  film them.
    These people are sometimes  referred to as *“bailarines de confiteria”*,

    Why is  it important to film the best social dancers important?
    Well, because this is the core of tango.
    It has been said before, but it’s worth repeating:
    Everything we have ever seen in a class, or  on a stage, or in a
    movie, is tango that these people did first in the  milongas.
    They, or their parents,  invented it, or copied it, and maybe
    changed it a little.
    Everything that tango is today was created by  them, and is
    continuing to be perfected by them.
    You might say, “Yeah, but it doesn’t look the  same.
    I saw Geraldine and Javier in a  theatre on *Corrientes* Street”,
    or “I saw Miguel Angel Zotto and Milena Plebes  in New York, and
    they didn’t look like that couple moving around in a few  square
    feet of crowded floor in *Sin Rumbo.*

    How did  this film project start?
    Earlier I wrote  a somewhat long-winded paragraph that could be
    summed up as, “You just fall  into things”.
    And that’s how it  happened.
    Like everyone, I began tango  with a hunger to learn.
    When I finally realized that I wasn't going to find what I wanted
    in classes or instructional videos, I  decided to look at how the
    good dancers do it in the clubs in Buenos Aires.
    If the best dancers in the world learned to dance by watching and
    absorbing the walks and the rhythms in the neighborhood milongas,
    why couldn’t  I do the same?
    But I quickly found out  that almost nothing exists on film.
    Throughout the hundreds plus years of tango, the great dancing in
    the  milongas has been virtually ignored.
    So,  I got a camera, took it to Buenos Aires, and started shooting.
    And, like tango itself, the filming has been  a great learning
    experience.
    Over time,  with a lot of help from Alejandra, I’ve  gotten some
    really good stuff.

    *Tucson, February 21,  2005 -*
    So after our last trip, I had a bunch of film -- about 30 digital
    cassettes -- but it was difficult to do anything with it.
    The cassettes only play in the little digital  video camera, and
    the content is mixed up over 4 years, with dozens of  locations, and
    hundreds of different people.
    To find anything you have to search through the cassettes, put them
    into the  camera, and wind through the tapes.
    It  takes forever.
    And in the beginning I  screwed up a lot, and recorded over things.
    It’s almost impossible to find a certain person in a certain club,
    much  less a certain turn, or way of stepping.
    But technology has come to the rescue.
    After some effort, I’ve succeeded in getting the whole thing
    transferred  into a computer.
    It’s on a giant -- at  least by today’s standards -- 500 gigabyte
    hard drive.
    There are several hundred digital video  clips, each from 30 seconds
    to 15 minutes.
    It’s all organized alphabetically by name, and then by date and
    location.
    And best of all, I can scroll  down, click, and bring up anything
    on the screen in, literally, seconds!
    It can be organized anyway I want, and, since  it’s in a computer,
    it’s easy to add notes or bookmarks, and links to different  things.
    If I want to find a turn *Pinocho* and Graciela did in
    *Avellaneda* the second time I filmed them dancing *vals,*
    I can scroll down, and click on the file in seconds.
    And there it is on the screen, in high  quality digital video.

    Tango has  been around for more than 100 years, but we know very
    little about it.
    People always talk about its origin, and  development, and different
    styles, but it’s just talk.
    No one really has any information.
    Some old movies, and such, but in reality the  way tango was danced
    in the neighborhoods throughout its history is lost to  us.
    No one really knows how *canyengue* looked, or even how most people
    danced in *Avellaneda* or *Villa Crespo* in the 1950s.
    There are  some written descriptions, but words are almost totally
    inadequate to describe  dancing.
    We see the end result in the  clubs today, but just like the details
    of early biological evolution, tango’s  origins are murky, and the
    details of how we got to where we are today are  probably lost forever.

    But,  suddenly, I am looking at something very impressive!
    I have instant access to the best tango  dancers of this age, all
    sorted and ready to go.
    I can instantly access how they step, how  they move to different
    music, how they navigate the floor.
    It’s all organized. I can find everything, and see everything  instantly.
    I can break it down, examine  and re-examine each movement in detail,
    or instantly compare the whole to some  other dancer, or group of
    dancers.
    Details and trends come into focus.
    Now I know what they mean when they say we are in the information age,
    the age when the transfer and acquisition of information are driving
    forces in  society.
    I got a real jolt of energy when I saw the fruits of our labor all
    together in one place, organized and quickly accessible.
    What an inspiration to dance!
    What an incredible variety of new things, and  new ways of moving to
    the music.
    There  is a lifetime of tango to learn from even one or two of these
    great  milongueros, and I can pick and choose from among dozens.
    I suspect no one has ever had this kind of information  before.
    In a sense, I feel that I am  seeing something in tango for the
    first time -- an accurate snapshot of Buenos Aires tango  dancing
    at the start of this century, linked by the old milongueros to the
    middle of the last one.

    One thing  has become very apparent. That is, that  it is impossible
    to understand what the milongueros are doing without watching  them
    over and over on film.
    There are  incredible combinations of stepping and moving that are
    not apparent at first  glance… or even fourth or fifth glance.
    Generally speaking, they use the feet to express the cadences, and
    the  movement of the bodies to express the melody.
    The end result is something so subtle and complex, that it takes
    many  viewings to begin to see what the woman is feeling, and many
    more to even begin  to see how the communication is being done.
    I sometimes hear people say that the social tango of the milongueros
    is  “simple”, or that stage or academic tango is more complex or
    more interesting.
    This is simply not true.

    Please Note:    I need to say here that filming social tango is
    very tricky.
    Milongas have special meaning in the  Argentine culture, and many
    people don’t want cameras intruding.
    It’s a matter of respect and privacy, and in  the traditional
    milongas where the best dancers are, it can be viewed almost  like
    taking pictures at a church service.
    People want to enjoy the music undisturbed, and some don’t want
    their  presence noted for personal or professional reasons.
    Cameras are prohibited in several milongas,  and frowned upon in
    many others, so before filming, we needed the permission of  both
    the organizers, and of the people being filmed.
    The only reason it was possible at all is  because Alejandra knows
    everyone so well -- and even then, we occasionally had to  deal
    with complaints from people who didn’t want the camera there.
    The result is that, unfortunately, we can’t  distribute copies of
    the material -- at least at this time.
    As a general policy, we promised everyone  that the film wouldn’t
    be shown or distributed publicly.
    I do, however, have permission from some of  the milongueros to
    post some still images captured from the video.
    The picture quality isn’t great, but it may  give some idea of how
    the best dancers do it.

    So, check  out the next page… it has pictures!!
