---
title: The art of pausing
chapter: ch2
slug: 5pausing
date: 2005-04-05
---
#header.secretHead
  .subHeader{:align => "left"}
    %span.chapter Chapter 2 |
    %span.headerTitle Secrets of the Milongueros
.content
  %p.paragraphHeader
    %br/
    The Art of Pausing
  :markdown
    Everyone knows that tango dancing is made up of different ways of moving.
    In classes, instructors often give all sorts of names to the figures
    and patterns they teach, and when I first began in tango I thought it
    was important to memorize the names of the increasingly complex
    movements I encountered.
    But later, I found that the people of the milongas actually don’t use a
    lot of names for dance steps.
    Milongueros think of tango in a different way.
    While they discuss the music endlessly, the vocabulary for the
    mechanics of tango is limited mostly to discussing ways of walking or
    turning.
    Turns are called *giros*, *pisar*

    One interesting part of tango that isn’t often discussed is the pause.
    Performers often use pauses to display dramatic body positions, or
    to gaze emotionally at each other.
    And pauses are often taught in classes as an opportunity for the woman
    to do adornments (they once gave a series of “embellishment classes”
    in my town that were very popular).
    It wasn’t until later that I learned that stopping and doing a lot of
    random  embellishments is one of the markers of bad tourist tango in
    Buenos Aires.

    But that doesn’t mean pauses aren’t used on the *pistas* (dance floors).
    Pausing at a milonga has a couple of practical purposes.
    It can be used to wait for space to open up, or to wait for the music.
    Or, sometimes, simply as a tranquil moment for the partners to rest,
    regain balance, and reconnect with each other.
    But there is a higher meaning.
    While the art of tango dancing is the expression of music with
    movement, the best milongueros are also able to express themselves by
    not moving at all.
    I had been intuitively aware of it for some time, but I could never
    put my finger on it.
    There was something about the calm pauses of a few of the dancers
    that struck an emotional response in me.
    But exactly how and when to use pauses may be one of the most
    difficult parts of tango --
    especially for dancers with less experience.
    Knowing when not to move is intimately tied to the music and to the
    feelings of the partners, and those with the most years dancing do
    it best.
    They use stillness and equilibrium to offset the sometimes frantic
    imbalance of the crowded floors.

  .picbkgrd4{:align => "center"}
    A few examples of the art of pausing:
    %br/
    %br/
    %img{:alt => "", :height => "300", :hspace => "8", :src => "2_pics/5pausing/image012.jpg", :vspace => "7", :width => "155"}/
    %img{:alt => "Miguel Balbi", :height => "300", :hspace => "8", :src => "2_pics/5pausing/image010.jpg", :vspace => "7", :width => "122"}/
    %img{:alt => "Alej y Duplaa", :height => "300", :hspace => "8", :src => "2_pics/5pausing/image014.jpg", :vspace => "7", :width => "132"}/
    %img{:alt => "Hector y Maria Eugenia", :height => "300", :hspace => "8", :src => "2_pics/5pausing/image015.jpg", :vspace => "7", :width => "157"}/
    %br/
    %br/
    %img{:alt => "Alej y Tete", :height => "300", :hspace => "15", :src => "2_pics/5pausing/image016.jpg", :vspace => "7", :width => "252"}/
    %img{:alt => "Ismael y Alej", :height => "300", :hspace => "15", :src => "2_pics/5pausing/image017.jpg", :vspace => "7", :width => "146"}/
    %br/
    %font{:size => "-1"}
      Top row:Juan Manuel, Miguel Balbi, Julio Duplaa y Alej, Hector y Maria Eugenia
      = succeed "Bottom:\u{a0}Tete" do
        %span.pictureCaption
          %br/
      %br/
  %br/
  %p
