---
title: If you can't see it, you can't dance it
chapter: ch2
slug: 3basics
date: 2005-04-03
---
#header.secretHead
  .subHeader{:align => "left"}
    %span.chapter Chapter 2 |
    %span.headerTitle Secrets of the Milongueros
.content
  .picholder
    %img{:alt => "Alberto Dassieu", :height => "300", :src => "2_pics/image020.jpg", :width => "170"}/
  %p.paragraphHeader
    The Elements of Style
    %font{:color => "#333333", :size => "2"} (continued)

  :markdown
    # The Elements of Style

    Another characteristic of the best milongueros is staying “centered”.
    Here is a picture showing how Alberto Dassieu walks in line, with
    one foot in front of the other, and also how he stays straight over his
    center of gravity as he moves rapidly around his partner.

    Alberto began dancing tango in the neighborhoods more than fifty years
    ago with two friends.
    One was Ricardo Ponce (“*El Chino Perico*”), and the other friend was
    a boy who worked in a butcher shop.
    After dancing tango all night, they would be starving.
    They had no money, so they would go to the shop and eat the cheaper
    cuts of meat that were left over.
    Alberto says the other boy (who is no longer alive) was the best
    tango dancer he’s ever seen.
    Today, *El Chino* and Alberto dance very differently --
    but they began with the same style, and their tango patron was the
    legendary Luis Lemos, known as *Milonguita*.
    In *Villa Urquiza* barrio.
    He didn’t believe in performing tango, but he always helped other
    dancers, and he led by example.
    This reluctance to perform was common among some of the old-time
    milongueros, who thought that performing would destroy their tango
    “angel” (their soul, muse, or inspiration).
    Today, *Milonguita’s* style is carried on in the milongas by dancers
    like the Duplaa brothers (who still dance in Urquiza), and on the
    stage by the great Miguel Angel Zotto [see next page].

    Late one night Alejandra and I were leaving Sunderland, when we ran
    into Julio Duplaa.  He and Alejandra used to dance at *Pavadita*,
    *Milonguita* walking in the Sunderland bar, *Villa Urquiza*,
  %div{:align => "center"}
    %br/
    %img.picborder{:alt => "Alejandra and Julio Duplaa", :height => "454", :src => "2_pics/image021.jpg", :width => "450"}/
    %br/
    %span.pictureCaption
      Alejandra y Julio Duplaa,
      = succeed "," do
        %em Villa Urquiza
%div{:align => "center"}
  %br/
  %br/
  %img.picborder{:alt => "Alejandra and Julio Duplaa", :height => "320", :src => "2_pics/image010.jpg", :vspace => "5", :width => "180"}/
  %br/
  %span.pictureCaption Balanced tango.
