---
title: Tango and soccer
chapter: ch2
slug: 14quick_feet
date: 2005-04-14
---
#header.secretHead
  .subHeader{:align => "left"}
    %span.chapter Chapter 2 |
    %span.headerTitle Secrets of the Milongueros
.content
  %p.paragraphHeader
    %br/
    Quick Feet
  :markdown
    Tango and also soccer are a little like basketball in some of the
    inner city neighborhoods in the U.S., because there was a time when
    they were almost the only forms of recreation available to many
    young men.
    And in the working class barrios of Buenos Aires, there is still a
    strong connection between soccer and tango.
    The streets and vacant lots of BsAs are full of kids kicking soccer
    balls around, and there are large *fútbol* stadiums everywhere in
    the city.
    A friend who is with the San Lorenzo Fútbol Club told me that Buenos
    Aires has an incredible 18 professional teams, which is about equal
    to all of the *fútbol* teams in most European countries.
    So it’s natural that the quick feet and natural balance of many
    great tango dancers were developed on the *canchas de fútbol*
    in the BsAs neighborhoods.

  %p
    %span.paragraphHeader
      %br/
  %div{:align => "center"}
    %img.picborder{:alt => "Boca stadium", :height => "336", :src => "2_pics/14quickfeet/2.jpg", :width => "508"}/
  %p.pictureCaption This painting of the champion Boca Juniors team hangs on the side of the stadium. A pre-cocaine  Maradona is singing tango, and Canniggia is playing the piano. (Ten bandoneons?)
  %p.pictureCaption
  %div{:align => "center"}
    %img.picborder{:alt => "Boca", :height => "336", :src => "2_pics/14quickfeet/1.jpg", :width => "252"}/
    %font{:color => "#E6E5CC"} xxx
    %img.picborder{:alt => "", :height => "336", :src => "2_pics/14quickfeet/3.jpg", :width => "346"}/
  %p.pictureCaption
    %em Pibes
    from the neighborhood play fútbol in the shadow of Boca Stadium. Some kids on yellow and blue painted bikes came up and ask Alejandra why I was taking these pictures. She said it was because I was a big Boca fan—but that I also liked San Lorenzo (our friend is Vice President of the club and we get free stuff from the team). The kids said, that's okay, but San Lorenzo is in a
    %em villa miseria
    (a dangerous slum), and they would never go there (of course Boca itself has a reputation as being one of the rougher barrios in the city). I have a great San Lorenzo jersey, but Alej doesn’t want me wearing it around BsAs. She says someone might throw a rock at me if I wander into the wrong part of town.
  %p
  %div{:align => "center"}
    %img.picborder{:alt => "", :height => "336", :src => "2_pics/14quickfeet/4.jpg", :width => "318"}/
  %p.pictureCaption
    A boy entertains his little bothers with a different kind of
    %em cabeceo
    near the stadium (due to incompetent
    %br/
    photography, the ball he's bouncing on his head is only visible in the shadow below him).
  %p.pictureCaption
  .picbkgrd4
    %p.pictureCaption
      %img{:alt => "Miguel Balbi", :height => "336", :hspace => "15", :src => "2_pics/14quickfeet/7.jpg", :vspace => "10", :width => "204"}/
      %img{:alt => "Miguel Balbi", :height => "335", :hspace => "15", :src => "2_pics/14quickfeet/5.jpg", :vspace => "10", :width => "210"}/
      %img{:alt => "Miguel Balbi", :height => "336", :hspace => "15", :src => "2_pics/14quickfeet/8.jpg", :vspace => "10", :width => "186"}/
  %p.pictureCaption
    Miguelito  at a party in
    %em Almagro
    (right), and at
    %em La Papelera
    (left)… you can almost picture a soccer ball near his feet.
  %p
  :markdown
    Good soccer players keep their feet close to the ground when running
    through traffic.
    This gives them better stability, and it also allows them to change
    direction quickly.
    Stability and maneuverability are essential tools for success on
    crowded *canchas de fútbol* and, on also the floors of crowded tango
    clubs as well.
    Many athletes practice agility drills where they mix small quick steps
    with large steps and direction changes to develop foot speed and balance.
    And this is something that milongueros are familiar with as well.
    Quick stepping cadences are, of course, a central part of the art of
    tango.
    Good dancers use them creatively with the cadences of the music --
    but when the floor is crowded, they also serve the same purpose as in
    tennis or basketball.
    They allow couples to change direction quickly to avoid other dancers.

    But the need to maneuver and survive in crowded conditions has affected
    tango in even more fundamental ways.
    We’ll look at that on the next page.

