---
title: Turning and tipping
chapter: ch2
slug: 15turntip
date: 2005-04-15
---
#header.secretHead
  .subHeader{:align => "left"}
    %span.chapter Chapter 2 |
    %span.headerTitle Secrets of the Milongueros
.content
  %p.paragraphHeader
    %br/
    Turning and Tipping
  :markdown
    Dealing with traffic is the same everywhere.
    Whether your driving on a crowded street in Buenos Aires, or a freeway
    in Los Angeles, you need to be able to stop, accelerate,  swerve…
    and then accelerate again.
    And, dancing tango in crowded conditions requires the same tactics.
    But in fact, it is more than just a tactic.
    Because tango was born and raised in this environment, crowding has
    affected its very nature.
    The ways of moving, the ways of stepping and expressing the music, and
    the connection between the couples, are all a direct result of dancing
    in the heavy traffic of the milonga.
    They have become part of tango.
    In fact, they have become tango.
    These  conditions   define what tango is.

    Now, you could describe tango in several different ways.
    You could say tango is made up of one part technique and one part
    passion.
    Or you might say dancing tango is expressing the cadence of the music
    with the feet, and the melody with the upper bodies.
    Or you could say good tango means being “*bien parado*” and
    “*en el compás*” (a discussion of these terms will come later).
    Each would be correct -- but let’s look at tango in another way.

    Suppose you know absolutely nothing about tango.
    You might watch a milonga for a while and say, well, this activity is
    obviously made up of two things.
    The people walk for a bit, and then they stop and move around in place
    for a bit, and then they walk again.
    And really, that’s all there is to tango.
    To be able to dance tango it is essential to be able to move well in
    one spot (*giros*, weight changes, foot play), and then accelerate
    into a smooth and elegant walk to another spot.
    If you can repeat this process over and over without running into
    anyone… and, of course, stay within the *compás* of the music…
    then you will be a good tango dancer.

    The “dance and move” nature of tango is a direct result of dancing to
    the music of the great orchestras in crowded milongas, and it has
    affected the very core of tango --
    posture, embrace, and step.
    This is a difficult thing to explain without video, but try an
    experiment.
    Stand in one spot and turn smoothly around once or twice.
    You will need to stay straight up and centered.
    At the end of one or two rotations, take a large smooth step to
    accelerate forward.
    But to do it right, you must begin to move with your chest first,
    which means stay up tall, and then tip forward with your upper body
    to take the large step.
    Your weight should fall onto the foot with your leg straight, and
    the next few steps should begin to  bring you back up straight over
    your center again.

    Let’s try to see it in some pictures.
    Here is Carlos Rodriguez -- a great milonguero with a classic style
    dancing with Alej at *Lo de Celia’s*.


  .picbkgrd4
    %img{:alt => "Carlos y Alejandra", :height => "250", :hspace => "13", :src => "2_pics/15turntip/image001.jpg", :width => "146"}/
    %img{:alt => "Carlos y Alejandra", :height => "250", :hspace => "13", :src => "2_pics/15turntip/image003.jpg", :width => "142"}/
    %img{:alt => "Carlos y Alejandra", :height => "250", :hspace => "13", :src => "2_pics/15turntip/image005.jpg", :width => "131"}/
    %img{:alt => "Carlos y Alejandra", :height => "250", :hspace => "13", :src => "2_pics/15turntip/image007.jpg", :width => "181"}/
  %p.pictureCaption
    Carlos and Alejandra at Celia’s showing how to dance in place, lean, and go.  In each picture
    %br/
    from left to right, you can see the forward lean increase as Carlos starts forward.

  :markdown
    In the first two pictures Carlos and Alej are playing and turning in
    place.
    Then Carlos begins to tip forward, leading Alej with his chest, and
    preparing to accelerate into a long first step (see arrow).
    The lines in the last picture show more lean between the partners, and
    increased foot separation.
    Carlos dances with the forward posture of many milongueros --
    but this varies from dancer to dancer.
    Most maintain chest contact in the dance-in-place / giro phase of the
    dance, maintaining just enough forward lean between the couples leave
    room for the feet to move.
    Some are more upright when dancing in place, and a few separate
    completely at times (see pictures below).
    But tipping forward to lead with the chest into the first step of the
    walking phase is almost universal among good dancers.

  .picbkgrd3
    %img{:alt => "Carlos y Alejandra", :height => "300", :hspace => "10", :src => "2_pics/15turntip/image009.jpg", :width => "157"}/
    %img{:alt => "Carlos y Alejandra", :height => "300", :hspace => "10", :src => "2_pics/15turntip/image011.jpg", :width => "171"}/
    %img{:alt => "Carlos y Alejandra", :height => "300", :hspace => "10", :src => "2_pics/15turntip/image013.jpg", :width => "197"}/
  %p.pictureCaption In this  series, you should be able to see what Carlos and Alej are doing without the lines or arrows:
  %p
  :markdown
    Here are more milongueros demonstrating a more upright posture while
    dancing in place, and then leaning forward into the walking phase:

  .picbkgrd4
    %div{:align => "center"}
      %img{:alt => "Osvaldo Buglione y Alejandra", :height => "310", :hspace => "5", :src => "2_pics/15turntip/image016.jpg", :width => "156"}/
      %img{:alt => "Osvaldo Buglione y Alejandra", :height => "310", :hspace => "5", :src => "2_pics/15turntip/image018.jpg", :width => "158"}/
      %img{:alt => "Osvaldo Buglione y Alejandra", :height => "310", :hspace => "5", :src => "2_pics/15turntip/image020.jpg", :width => "175"}/
      %img{:alt => "Osvaldo Buglione y Alejandra", :height => "310", :hspace => "5", :src => "2_pics/15turntip/image022.jpg", :width => "189"}/
  %p.pictureCaption Osvaldo Buglione plays in place, and then tips forward, and leaves.
  %p
  .picbkgrd2
    %img{:alt => "Alito y Alejandra", :height => "310", :hspace => "25", :src => "2_pics/15turntip/23.jpg", :vspace => "10", :width => "150"}/
    %img{:alt => "Alito y Alejandra", :height => "310", :hspace => "25", :src => "2_pics/15turntip/24.jpg", :vspace => "10", :width => "165"}/
  %p.pictureCaption Sometimes it’s more subtle. See if you can spot Alito tipping forward in the second picture.
  %p
  .picbkgrd4
    %img{:alt => "Pinocho y Graciela", :height => "289", :hspace => "15", :src => "2_pics/15turntip/image028.jpg", :vspace => "15", :width => "183"}/
    %img{:alt => "Pinocho y Graciela", :height => "336", :hspace => "15", :src => "2_pics/15turntip/image030.jpg", :vspace => "15", :width => "244"}/
    %img{:alt => "Pinocho y Graciela", :height => "289", :hspace => "15", :src => "2_pics/15turntip/image032.jpg", :vspace => "15", :width => "146"}/
  %p.pictureCaption
    Finally, here is a series of Pinocho and Graciela. They are very active and unorthodox dancers.
    %br/
    Sometimes separating to do things...
  %p
  .picbkgrd2
    %img{:alt => "Pinocho y Graciela", :height => "288", :hspace => "25", :src => "2_pics/15turntip/image034.jpg", :vspace => "15", :width => "154"}/
    %img{:alt => "Pinocho y Graciela", :height => "289", :hspace => "25", :src => "2_pics/15turntip/image036.jpg", :vspace => "15", :width => "149"}/
  %p.pictureCaption
    \...but in the end, Pinocho leans forward and leads away with the chest. This series was taken at
    %br/
    %em Cacho’s
    in Avellaneda in 2003—two years later they won the BsAs city
    = succeed "." do
      %em concurso de tango
    %br/

  :markdown
    So, good tango is characterized by smooth, tight *giros* while
    marking the *compás* in place, and a smooth transition into, and
    out of, the walking phase.
    This first walking step is a very important part of tango, both on
    the stage and in the milongas -- and tall dancers like Duplaa and
    *El Chino* are masters of it.
    They literally stand above the crowd.
    You can see them surging forward elegantly with the music, moving
    as space opens up on the floor.
    The practical necessities of tango in tight spaces have created art.
  %p
  .picbkgrd4
    %img{:alt => "", :height => "370", :hspace => "10", :src => "2_pics/15turntip/image037.jpg", :vspace => "15", :width => "191"}/
    %img{:alt => "", :height => "370", :hspace => "10", :src => "2_pics/15turntip/image039.jpg", :vspace => "15", :width => "229"}/
    %img{:alt => "", :height => "370", :hspace => "10", :src => "2_pics/15turntip/image041.jpg", :vspace => "15", :width => "203"}/
  %p.pictureCaption Sr. y Sra. Duplaa at Sunderland, El Chino y Ophelia at Banco Provincia.
