---
title: Una Casa Tomada
chapter: ch2
slug: 11casa_tomada
date: 2005-04-11
---
#header.secretHead
  .subHeader{:align => "left"}
    %span.chapter Chapter 2 |
    %span.headerTitle Secrets of the Milongueros
.content
  %p.paragraphHeader
    %br/
    %em
      Una Casa Tomada
      %br/
    %font{:color => "#000000", :size => "-1"}
      "
      %em> ...a bunch of clowns
      "
    %br/
    %font{:color => "#E6E5CC", :size => "-1"} xxxxxxxxxxx
    %font{:color => "#000000", :size => "-1"} -Celia
    %font{:size => "-1"}
    %font{:color => "#000000", :size => "-1"} Blanco
  :markdown
    If you wander around Buenos Aires you may notice buildings with the
    doors and windows completely bricked over.
    They are sealed up so tightly because under Argentine law, if people
    are able to get inside and start living in a place, it can be very
    hard for the owners to get them out.
    Occasionally it’s so difficult that the owners just give up, and the
    buildings become “casas tomadas”.
    This means, literally, “taken houses”, and some neighborhoods are
    infested with them.
    They provide some shelter for poor people -- but no one is happy
    about it.
    *Casas tomadas* are a symptom of a system that’s broken, and neighbors
    must deal with deteriorating property that no one maintains.
    They create  unsanitary conditions, petty crime, and worse.
    Because no one has an ownership interest, no one paints, or repairs,
    or plants a garden.
    The occupants are just camping out.
    They are using up the property without putting anything in.

    When I began to learn more about tango, I became fascinated by the
    people who created it.
    A hundred years ago, giants somehow emerged from a relatively small
    and unsophisticated group of working class people.
    Composers and poets emerged from tin shacks.
    Great dancers and musicians played on street corners.
    A tremendous burst of creative energy built a new and different kind
    of music… a brilliant mix of notes, and words, and movement that
    culminated in the Golden Age of tango in the 1940s.
    How many great tango poets, musicians, and dancers, were there in
    this period?
    A hundred? Five hundred?

  .figureLeft
    %p
      %img{:alt => "Street performers in Boca", :height => "209", :src => "2_pics/image024.jpg", :width => "160"}/
    %p Street performers in Boca.
  :markdown
    But things have changed.
    Today, very few tango teachers seem to care about the music.
    They don’t teach students how to step, or how to use the rhythms of
    tango, because they can't teach what they don't understand.
    Their arrogance and their venality is almost unbearable, and the
    skills needed to dance tango are disappearing.
    There are movies, and stage shows and street performers dressed like
    clowns… but the movies are mostly garbage, and the shows are worse.
    There is a Buenos Aires tango television station that regularly shows
    videos of dancers with different music on the soundtrack than the
    music the dancers are dancing to.
    And no one seems to care.
    Maybe the great orchestras, and the composers and poets who wrote the
    music would have said something -- but they're gone.
    There hasn’t been anything significant created in tango in almost
    50 years.
    No new music, and no new words.
    The giants have been replaced by small people with large egos.
    The owners have left, and people are living among the ruins,
    arrogantly plundering the halls, and robbing the tombs.

    But we have to look somewhere to find tango.
    So let’s ignore the entertainers and the promoters, and the
    incompetent teachers for now, and look to the people in the clubs.
    They aren’t exactly giants… but a few of them knew the giants.
    And some of them stubbornly kept dancing tango while everyone was
    home watching television and hiding from the *proceso militar*.
