---
title: The owners of the music
chapter: ch2
slug: 10owners
date: 2005-04-10
---
#header.secretHead
  .subHeader{:align => "left"}
    %span.chapter Chapter 2 |
    %span.headerTitle Secrets of the Milongueros
.content
  .picholder
    %img{:alt => "Rosa y Pocho at El Beso", :height => "372", :src => "2_pics/10owners/82.jpg", :width => "250"}/
  %p.paragraphHeader
    The Owners of the Music
  :markdown
    # The Owners of the Music

    The most senior of the milongueros move with incredible calmness.
    Every time I watch Rosa and Pocho (left) or *El Chino* and

    %img.floatRight{:alt => "Ophelia y El Chino", :height => "356", :src => "2_pics/10owners/37.jpg", :width => "200"}/
    Last summer our regular table at *Celia’s* happened to be next to
    Pocho and Rosa’s table, and I got to be friends with Rosa.
    We spent time laughing and commenting on the other dancers,
    complaining about the cigarette smoke, and sneaking the window open
    next to our table to get fresh air (Celia hated it, because we let
    out the air conditioning and cost her money).
    Rosa told me that in the ‘40s when she went to the milongas
    on *Corrientes* Street with her sisters, the women would sit around
    the edges of the room on “*bancos*” (benches) while the men would
    stand in the middle of the dance floor and look for dances with eye
    contact.
    The line of dance circled the room between the men and the women, but
    of course no one could dance in the middle where the men stood.
    She says this custom ended 60 years ago, and now things are a mess
    because people are always cutting across the middle.
    She also told me Pocho used to work delivering pizzas when he was
    young -- so one night I told him I was hungry and asked him to jump
    on his motorbike and bring me a slice of anchovy pizza.
    She thought it was pretty funny.

    Because they are both small, and somewhat frail, I began to feel
    protective of them.
    One night it was so crowded that I thought maybe Alejandra and I
    should stay close to them on the dance floor and run interference
    to keep them from getting bumped or knocked down.
    But I found that they moved so smoothly and skillfully through the
    tight spaces of the crowd that I could barely keep up --
    and no one ever touched them.

  %p.paragraphHeader
    %font{:color => "#333333"} ****

  :markdown
    This is the end of the first Picture Series of Chapter Two.
    In this part, we have tried to demonstrate some of the techniques used
    by the best dancers in Buenos Aires.
    In the next half of the chapter we'll attempt something more ambitious.
    We’ll look for the essence of tango -- what it is, and what made it
    the dance it is today.
