---
title: Stay grounded in tango
chapter: ch2
slug: 13grounded
date: 2005-04-13
---
#header.secretHead
  .subHeader{:align => "left"}
    %span.chapter Chapter 2 |
    %span.headerTitle Secrets of the Milongueros
.content
  %p.paragraphHeader
    %br>/
    Grounded
    %br/
    %em
      %font{:color => "#000000", :size => "-1"}
        %br/
        “If it doesn’t give you goose bumps,
        %br/
        man, you’re not dancing tango”
      %br/
    %font{:color => "#E6E5CC", :size => "-1"}
      xxxxxxxxxxxxxxxxxxxx
      %font{:face => "Verdana, Arial, Helvetica, sans-serif"} x
    %font{:color => "#000000", :face => "Arial, Helvetica, sans-serif", :size => "-1"}
      \-
      %em Fino
      in "
      %em> Tango, Our Dance
      "
  :markdown
    Because I watched Tete videos so much when I began in tango, I picked
    up his habit of kicking up my feet on the dance floor.
    One evening in *Celia’s*
  %p
  .picbkgrd3
    %img{:alt => "", :height => "318", :hspace => "8", :src => "2_pics/13Grounded/image007.jpg", :width => "164"}/
    %img{:alt => "", :height => "317", :hspace => "8", :src => "2_pics/13Grounded/image009.jpg", :width => "188"}/
    %img{:alt => "", :height => "316", :hspace => "8", :src => "2_pics/13Grounded/image008.jpg", :width => "192"}/
  %p
  :markdown
    Tete, who is not really a traditional milonguero (and doesn’t want to
    be), picks up his feet quite a bit (he's pictured above, kicking up his
    heels with Alicia Pons in
    = succeed "," do
      %em Banco Provincia
    = succeed ").\u{a0}To" do
      %em Porteño y Bailarin
